* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;
    --spacing: 20px;
}

html {
    height: 100%;
}

body {
    gap: var(--spacing);
    margin: 0 calc(var(--spacing) * 2);
    font: -apple-system-short-body;
    text-align:center;
    font-size:14px;
}

body img{
    width:60%;
    height:auto;
}

body p{
    text-align: left;
}

p .big{
    font-size:18px;
}
