/*h1,.section-sports,.section-ent,.section-house,.section-home,.section-headline,.market-promotion,.news-pic,.footer,.hot_news,.widget-slider-article.bottom,.relative_doc,.hotSearch-box,.sub_box,.copyright,.more-client,.toggle-btn,.section-war,.section-recommend,.wap-footer-wrap,.section-bottom-links,.section-dy{display:none!important;}*/
/*article{max-height:none!important;}*/
/*article .content .page{display:block!important;}*/
/*html{font-size:48px!important;}*/
/*.channel-closed{height:auto!important;}*/
/*a:visited .news-info h3{color:#ddd!important;}*/
video{width:100%!important;margin:auto;}

.card_0,.pk_vote_wrapper,.ad-above-comment,.m_colum_a_d,.new_relative_doc,.article_comment{display:none!important;}

.wap-section,.slider-item{
    height: auto!important;
}

.auto-fixed .tab-bar{
    position: relative!important;
}

.card-type-news a h3{
    display:inline;
}
.card-type-news a:visited {
  color: #fff!important;
}

.card-type-news a:visited h3{
  color: #fff!important;
}

/*顶部通栏广告*/
.a_topad{display:none!important;}

/*iframe隐藏*/
iframe{display:none!important;}

/*news-card*/
.news-card{
    padding:0!important;
}

.news-card > a{
    padding:10px;
}

/*a[href*="/special/channel_virus_report/"],*/
/*a[herf*="/touch/ent/"],*/
/*a[herf*="/touch/sports/"],*/
/*a[herf*="/touch/war/"],*/
/*a[herf*="/touch/liveshow/"]*/
/*{*/
/*    display:none!important;*/
/*}*/
