/*首页*/
iframe{display:none!important;}

.market-promotion{
    display:none!important;
}

.wap-section .wap-linklist{
    margin:0!important;
}

.channel-bar ul{
    height:auto!important;
    overflow:auto!important;
}

.card-type-news .news-pic img{
    object-fit: cover;
    max-width:100%;
    height:auto!important;
}

.wap-section .wap-linklist .link-item{
    overflow:hidden;
}

.section-bottom-links .sec-top{
    padding-left:0.2rem!important;
    padding-right:0.2rem!important;
}

.wap-section .wap-linklist .link-item{
    margin-left:0.1rem!important;
}



/*暗黑模式*/
@media (prefers-color-scheme: dark) {
    body{
        background:#121212!important;
    }
    
    body, html a{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .wap-section{
        background:#121212!important;
    }
    
    .tab-bar{
        background:#121212!important;
    }
    
    .section-headline .news-card,.section-headline .news-card,.news-card{
        border-color : rgba(0,0,0,0.92)!important;
    }
    
    .stock-board{
        background:#121212!important;
    }
    
    .wap-channel-nav .channel-nav{
        background:#121212!important;
    }
    
    .subchannel-bar{
        background:#121212!important;
    }
    
    .wap-index-nav .login-bar{
        background:#121212!important;
    }
    
    .tab-bar{
        border-color : rgba(0,0,0,0.92)!important;
    }
    
    .tab-bar .tab-item{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .recommend-list{
        background:none!important;
    }
    
    .stock-board ul li{
        border:none!important;
    }
    
    .subchannel-bar .sublink-item span{
        color:rgba(255,255,255,0.87)!important;
    }
    
}

/*频道页面*/
.wap-section{
    padding:0!important;
}


/*广告*/
.m_colum_a_d{
    display:none!important;
}

/*这里为了去掉打开app的跳转，配合js食用。*/
a.focus-item{
    display:block;
}

a > *{
    pointer-events:none;
}

.to-app{display:none!important;}

/*展开收起的按钮*/
.toggle-btn{
    display:none!important;
}

video{width:100%!important;margin:auto;}

.card_0,.pk_vote_wrapper,.ad-above-comment,.m_colum_a_d,.new_relative_doc,.article_comment{display:none!important;}

.wap-section,.slider-item{
    height: auto!important;
}

.auto-fixed .tab-bar{
    position: relative!important;
}

.card-type-news a h3{
    display:inline;
}
.card-type-news a:visited {
  color: #999!important;
}

.card-type-news a:visited h3{
    color: #999!important;
}

/*顶部通栏广告*/
.a_topad{display:none!important;}

/*还是广告*/
.m_a_d_doc{
    display:none!important;
}

/*iframe隐藏*/
iframe{display:none!important;}

/*news-card*/

.recommend-list{
    padding:0!important;
}
.news-card{
    padding:0!important;
    margin:0!important;
    box-sizing:border-box!important;
}

.news-card > a{
    padding:0.2rem;
}

.section-channel .sec-top{
    padding-left:0.2rem!important;
    padding-right:0.2rem!important;
}

/**详情页**/
.widget-slider-article{
    display:none!important;
}

.photo{
    pointer-events:none!important;
}


/*热门搜索*/
.hotSearch-box{display:none!important;}

/*文章被折叠*/
main > article{
    max-height:unset!important;
    height:100%!important;
    max-height:calc(100vh - 0.98rem)!important;
    overflow:scroll!important;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.footer,footer{display:none!important;}


/*详情页暗黑模式*/
@media (prefers-color-scheme: dark) {
    
    img{
        filter: brightness(0.8);
    }
    
    .home header{
        background:#121212!important;
    }
    
    main article{
        background:#121212!important;
    }
    
    main article .content{
        color: rgba(255,255,255,0.87)!important;
    }
    
    main .m_separate, section{
        background:#121212!important;
    }
    
    .topbar{
        background:#121212!important;
    }
    .title{
        color: rgba(255,255,255,0.87)!important;
    }
    .back_home,.channel_logo{
        border-color:#010101!important;
    }
    
    footer .u_topmenu{
        background:#121212!important;
        box-shadow:none!important;
    }
    
    footer .u_topmenu .u_c_more{
        background:#121212!important;
    }

}

/***评论页面***/
.newsapp-download{
    display:none!important;
}

/*dark mode*/
@media (prefers-color-scheme: dark) {
    .comment-list > div{
        border-color : rgba(0,0,0,0.92)!important;
        color: rgba(255,255,255,0.87)!important;
    }
    
    .comment-list > div div{
        background:rgba(0,0,0,0.93)!important;
    }
    
    .header-article{
        background:#121212!important;
    }
    
}

/**选择城市页面**/

@media (prefers-color-scheme: dark) {
    
    .sequence_info{
        background:rgba(255,255,255,0.07)!important;
        color: rgba(255,255,255,0.87)!important;
    }
    
    .city:active, .city:hover{
        background:rgba(255,255,255,0.07)!important;
    }
    .city{
        color: rgba(255,255,255,0.87)!important;
    }
}

