/*首页*/
.kr-mobile-goapp{display:none!important;}

/*去掉轮博的自动滚动*/
.home-banner{
    overflow-x:scroll!important;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.banner-list{
    left:0!important;
}

.home-banner .banner-control{display:none!important;}

/***详情页***/
/*去掉遮罩层*/
.tips-mask,.tips-content{display:none!important;}
body{
    overflow:auto!important;
}

/*顶部广告轮播*/
.article-top-swiper-goapp{display:none!important;}

/*底部评论*/
.interact-area{display:none!important;}

/*文章被隐藏*/
#body-content{max-height:unset!important;}
.article-goapp{display:none!important;}

.goapp-wrapper .suction-bottom-dummy{display:none!important;}

@media (prefers-color-scheme: dark) {
    html,body{
        background:#121212!important;
        color: rgba(255,255,255,0.87)!important;
    }
    
    img{
        filter: brightness(0.8);
    }
    
    .kr-mobile-layout{
        background:#121212!important;
    }
    
    .logo-container{
        background:rgba(255,255,255,0.08)!important;
    }
    .user-login .login-txt{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .home-banner .banner-list .item-wrapper .banner-item .item-title{
        color: rgba(255,255,255,0.87)!important;
    }
    .home-flow .flow-title{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .article-item .item-info>.item-title{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .article-item .item-info:visited>.item-title{
        color:rgba(255,255,255,0.6)!important;
    }
    
    .article-item .item-info .item-bar{
        color:rgba(255,255,255,0.6)!important;
    }
    
/*    详情页*/
    .article-body .body-title{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .article-body .body-bar .author-name{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .body-content-wrapper #body-content{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .article-body .body-quote{
        background:rgba(255,255,255,0.08)!important;
        color: rgba(255,255,255,0.6)!important;
    }
    
    .article-body .body-quote .quote-icon{
        filter: brightness(0) invert(1);
    }
    
    .article-no-comment .temp,.article-comment .comment-wrapper:before{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .article-no-comment .article-no-comment-wrap .comment-title,
    .article-comment .comment-wrapper .comment-title,
    .article-comment .comment-wrapper .regular-comment .comment-detail .user-info>span:first-child,
    .article-comment .comment-wrapper .regular-comment .comment-detail .comment-content{
        color: rgba(255,255,255,0.87)!important;
    }
    
    
    .body-content-wrapper #body-content p{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .body-content-wrapper #body-content h3{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .body-content-wrapper #body-content section{
        box-shadow: none!important;
        line-height: 1.5!important;
        color: rgba(255,255,255,0.87)!important;
    }
    
    .pd__ex .kr-mobile-footer{
        background:#121212;
    }
    
    .pd__ex .kr-mobile-footer .list .row a,
    .pd__ex .kr-mobile-footer .record{
        color: rgba(255,255,255,0.87);
    }
    
    .pd__ex .kr-mobile-footer .record a,
    .pd__ex .kr-mobile-footer .record a:active,
    .pd__ex .kr-mobile-footer .record a:hover,
    .pd__ex .kr-mobile-footer .record a:visited{
        color: rgba(255,255,255,0.87);
    }
    
    .pd__ex .may-like-art-wrp:before{
        background:rgba(255,255,255,0.08);
    }
    
    .pd__ex .may-like-art-wrp .title{
        color: rgba(255,255,255,0.87);
    }
    
    
    .pd__ex #article-detail-right-qifu .qifu-recom-articles-title{
        color: rgba(255,255,255,0.87);
    }
    
    .pd__ex #article-detail-right-qifu .qifu-recom-articles .qifu-recom-i-cap>a{
        color: rgba(255,255,255,0.87);
    }
    
    .pd__ex #article-detail-right-qifu .qifu-follow-box .qifu-t{
        color: rgba(255,255,255,0.87);
    }
    
    .pd__ex #article-detail-right-qifu .qifu-follow-box .qifu-txt,
    .pd__ex .project-relevent-wrapper .project-relevent-card .title,
    .pd__ex .project-relevent-wrapper .project-relevent-card .card-list .card-item div{
        color: rgba(255,255,255,0.87);
    }
    
    .pd__ex  .article-comment .comment-wrapper .regular-comment .comment-detail .second-comment-wrapper{
        background:rgba(255,255,255,0.08);
    }
    
    .pd__ex .article-comment .comment-wrapper .regular-comment .comment-detail .user-info span.publish-time{
        color: rgba(255,255,255,0.6);
    }
    
    .pd__ex  .project-relevent-wrapper .project-relevent-card .line{
        background:rgba(255,255,255,0.11);
    }
    
    .pd__ex .project-relevent-wrapper .project-relevent-card,
    .pd__ex .project-relevent-wrapper .project-relevent-card .card-list .card-item{
        background:rgba(255,255,255,0.08);
    }
    
    .pd__ex .body-content-wrapper #body-content blockquote:after{
        display:none;
    }
    
    .pd__ex .article-body .body-bar .time{
        color: rgba(255,255,255,0.6);
    }
}

