:root{
    --puddingdark-mainfont-color: rgba(255,255,255,0.87);
    --puddingdark-secondfont-color: rgba(255,255,255,0.6);
    --puddingdark-border-color: rgba(255,255,255,0.08);
    --puddingdark-main-bgcolor: #121212;
    --puddingdark-03dp-bgcolor: rgba(255,255,255,0.08);
    --puddingdark-06dp-bgcolor : rgba(255,255,255,0.11);
    --puddingdark-blue-color: rgb(10,132,255);
    --color-dark-orange: rgb(255, 159, 10);
}


/***baidu 知道****/
.w-detail-container{
    max-height: unset!important;
}

.iknow-root-dom-element .w-detail-full .w-detail-display-btn{
    display:none!important;
}

div[class^="wgt-"][class$="-asp"]{
    display:none!important;
}

.wap-youx-change-asp{
    display:none!important;
}

#feed-recommend{
    display:none!important;
}

.wgt-recommend-answer-container.ec-ad{
    display:none!important;
}

.iknow-root-dom-element .chat-consult.shorten{
    height:auto!important;
}

.iknow-root-dom-element .chat-consult .circusee-bg{
    display:none!important;
}

.iknow-root-dom-element .w-detail-full-new .w-reply-text{
/*    overflow:auto!important;*/
    -webkit-line-clamp: unset!important;
}

.iknow-root-dom-element .w-detail-full-new .w-reply-text .unfold{
    display:none!important;
}


.iknow-root-dom-element .law-top-answer-wrapper .law-w-detail-container .limit-height{
    max-height:unset!important;
}

.pd__ex .iknow-root-dom-element .law-top-answer-wrapper .fold-wrap{
    display:none!important;
}

@media (prefers-color-scheme: dark) {
    
    .iknow-root-dom-element{
        background:#121212!important;
    }
    
    .iknow-root-dom-element #iknow-common-header{
        background:#121212!important;
    }
    
    .iknow-root-dom-element .wgt-toggle-header{
        background:#121212!important;
    }
    
    .iknow-root-dom-element .wgt-toggle-header .toggle-header-title{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .w-detail-full-new .w-reply-text{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .question-container{
        background:#121212!important;
    }
    
    .iknow-root-dom-element .wgt-question{
        background:#222!important;
    }
    
    .iknow-root-dom-element .wgt-question .wgt-question-title h2{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .question-line{
        background:rgba(255,255,255,0.07)!important;
    }
    
    .iknow-root-dom-element .best-answer-container:not(:first-child)::after{
        display:none!important;
    }
    
    .iknow-root-dom-element .w-detail-full .w-detail-content{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .ask-for-friend{
        background:#121212!important;
    }
    
    .iknow-root-dom-element .respect{
        background:#121212!important;
    }
    
    .iknow-root-dom-element #iknow-common-header .iknow-common-header-content .go-to-ask .g-t-a-icon{
        filter: brightness(0) invert(1);
    }
    
    .iknow-root-dom-element .question-meta-container .question-meta{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .question-meta-icon-support,.iknow-root-dom-element .question-meta-icon-unsupport,.iknow-root-dom-element .question-meta-container .question-meta-icon-comment,.iknow-root-dom-element #iknow-common-header .appendix .option .header-option-icon,.iknow-root-dom-element .question-meta-container .question-meta-icon-more{
        filter: brightness(0) invert(1);
    }
    
    .iknow-root-dom-element .consult-gowenyiwen-logo .consult-gowenyiwen-logo-img{
        filter: brightness(0) invert(1);
    }
    
    .iknow-root-dom-element .chat-consult .chat-consult-content .chat-item .chat-type{
        background:none!important;
    }
    
    .iknow-root-dom-element .question-author-container .question-author-follow-box .question-author-follow, .iknow-root-dom-element .question-author-container .question-author-follow-box .question-author-follow-link{
        background:#121212!important;
        color:rgba(255,255,255,0.87)!important;
        
    }
    
    .iknow-root-dom-element .chat-consult .chat-consult-content .chat-item .chat-content{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .iknow-root-dom-element .chat-consult .chat-consult-content .chat-item .chat-content .chat-content-text{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .wgt-iknow-replies-entry .fold-num-container{
        background:none!important;
    }
    
    .iknow-root-dom-element .wgt-iknow-replies-entry .fold-num-container .fold-num{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .dwboj62334f h2.dec{
        color:rgba(255,255,255,0.87)!important;
    }
    .iknow-root-dom-element .ask-for-friend:before{
        filter: brightness(0) invert(1);
    }
    
    .iknow-root-dom-element .w-question-list-video .item-text .item-title{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .question-answer-container .question-answer-btn-wraper .question-answer-viewall, .iknow-root-dom-element .question-answer-container .question-answer-btn-wraper .question-answer-viewall-txt{
        color:rgba(255,255,255,0.6)!important;
    }
    
    .iknow-root-dom-element .wgt-replies h2.dec{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .w-detail-full .w-detail-content .w-reply-yun .w-reply-yun-content-info .w-reply-yun-filetitle{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .question-answer-container .question-answer-deploy .question-answer-deploy-btn{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .iknow-root-dom-element #iknow-common-header .iknow-msg-list{
        background:#121212!important;
        opacity:0.95;
    }
    
    .iknow-root-dom-element #iknow-common-header .iknow-msg-list .msg-list .msg-link:before{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .iknow-root-dom-element #iknow-common-header .iknow-msg-list .msg-list .ico,
    .iknow-root-dom-element .single-meta-wrapper .single-meta-top .single-meta-more{
        filter: brightness(0) invert(1);
    }
    
    .iknow-root-dom-element .wgt-iknow-replies-entry .wgt-replies-entry-btn{
        color:rgba(255,255,255,0.6)!important;
    }
    
    .iknow-root-dom-element .edpvp625e99 h2.dec{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .wgt-topic-hot>.w-t-h-topic>.w-t-h-t-num>.topic-keyword{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .wgt-topic-hot>.w-t-h-topic>.w-t-h-t-num>.topic-question{
        color:rgba(255,255,255,0.6)!important;
    }
    
    .iknow-root-dom-element .wgt-replies .reply-item:before,
    .iknow-root-dom-element .wgt-iknow-replies-entry .fold-num-container .fold-num:before,
    .iknow-root-dom-element .edpvp625e99 .w-question-list:before,
    .iknow-root-dom-element .wgt-topic-hot:before,
    .iknow-root-dom-element .edpvp625e9b .w-question-list:before,
    .iknow-root-dom-element .single-meta-wrapper .single-meta-bottom:before{
        background:rgba(255,255,255,0.08)!important;
    }
    
    
    .iknow-root-dom-element .question-answer-container .question-answer-layer{
        background:#121212!important;
    }
    
    .iknow-root-dom-element .question-answer-container .question-answer-layer .question-answer-layer-expleft .reply-author-follow-box .reply-author-follow{
        color:rgba(255,255,255,0.6)!important;
    }
    
    .iknow-root-dom-element .question-answer-container .question-answer-layer .question-answer-layer-expleft .reply-author-follow-box .reply-author-follow:after{
        border-color:rgba(255,255,255,0.6)!important;
    }
    
    .iknow-root-dom-element .single-meta-wrapper .single-meta-top .single-meta-thumb-wp .single-meta .question-meta-support-num{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .common-main-content .singlereply-comment-wp .singlereply-comment-title{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .question-comment-wrapper .qcomment-submit-form, .iknow-root-dom-element .question-comment-wrapper .qcomment-reply-submit-form{
        background:#121212!important;
    }
    
    .iknow-root-dom-element .edpvp625e9b h2.dec{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .iknow-root-dom-element .wgt-question-container{
        background:#222!important;
    }
    
    
    .qb-light-theme .iknow-root-dom-element .replies-container{
        background:#222!important;
    }
    
    .qb-light-theme .iknow-root-dom-element .question-line-light-theme{
        display:none!important;
    }
    
    .qb-light-theme .iknow-root-dom-element .replies-container::after{
        content: none!important;
    }
    
    .iknow-root-dom-element .contextual-earches .contextual-title,
    .iknow-root-dom-element .single-meta-container .single-meta-top .single-meta-thumb-wp .question-meta-unsupport-num,
    .iknow-root-dom-element .single-meta-container .single-meta-top .single-meta-thumb-wp .question-meta-support-num{
        color:rgba(255,255,255,0.6)!important;
    }
    
    .iknow-root-dom-element .single-meta-container .single-meta-top .single-meta-thumb-wp .split{
        background-color:rgba(255,255,255,0.6)!important;
    }
    
    .iknow-root-dom-element .single-meta-container .single-meta-top .meta-comment-wp .meta-comment-ico,
    .iknow-root-dom-element .single-meta-container .single-meta-top .meta-transmit-btn,
    .iknow-root-dom-element .kojyq63b0f9 .w-question-list a .question-list-info .ico-zan,
    .iknow-root-dom-element #iknow-common-header .ui-suggestion ul li .ui-suggestion-result .i-search{
        filter: brightness(0) invert(1);
    }
    
    .iknow-root-dom-element .single-up-ads-wrapper.light-theme{
        display:none;
    }
    
    .iknow-root-dom-element .contextual-earches{
        background-color:#222!important;
    }
    
    .iknow-root-dom-element .contextual-earches .contextual-list .contextual-item{
        color:rgba(255,255,255,0.6)!important;
        background-color:rgba(255,255,255,0.6)!important;
    }
    
    
    .iknow-root-dom-element .kojyq63b0f9.light-theme{
        background:#121212;
    }
    
    
    .iknow-root-dom-element .contextual-earches .contextual-list .contextual-item{
        background:var(--puddingdark-03dp-bgcolor)!important;
    }
    
    .iknow-root-dom-element .kojyq63b0f9 .w-question-list a .question-list-intro,
    .iknow-root-dom-element .kojyq63b0f9 .w-question-list a .question-list-info{
/*        background-color:rgba(255,255,255,0.6)!important;*/
    }
    
    
    .pd__ex .iknow-root-dom-element .light-theme,
    .pd__ex .iknow-root-dom-element .feed-recommend.light-theme .feed-recommend-list{
        background:#222!important;
    }
    
    .pd__ex  .iknow-root-dom-element .light-theme .w-question-list .content-area .title,
    .pd__ex .iknow-root-dom-element .feed-recommend.light-theme .feed-recommend-item-exp .content-area .title,
    .pd__ex .iknow-root-dom-element .feed-recommend .feed-recommend-list .feed-recommend-item .item-invite-title{
        color:var(--puddingdark-mainfont-color)!important;
    }
    
    .pd__ex .iknow-root-dom-element  .w-question-list a .question-list-intro,
    .pd__ex .iknow-root-dom-element  .w-question-list a .question-list-info,
    .pd__ex  .iknow-root-dom-element .light-theme .w-question-list .content-area .desc,
    .pd__ex .iknow-root-dom-element .feed-recommend.light-theme .feed-recommend-item-exp .content-area .desc,
    .pd__ex .iknow-root-dom-element .feed-recommend.light-theme .feed-recommend-item-exp .other-info,
    .pd__ex  .iknow-root-dom-element .feed-recommend-title,
    .pd__ex .iknow-root-dom-element .feed-recommend.light-theme .feed-recommend-item-exp .content-area .video-desc,
    .pd__ex .iknow-root-dom-element #knowledge-answer-list.knowledge-answer-list-index .w-knowledge-reply-text{
        color: var(--puddingdark-secondfont-color)!important;
    }
    
    .pd__ex  .iknow-root-dom-element .mm-content-box{
        background:none!important;
    }
    
    .pd__ex .feed-recommend-item-with-adhere iframe,
    .pd__ex .mm-content-box iframe,
    .pd__ex .ui-line[_v-7448dce6],
    .pd__ex .iknow-root-dom-element  .mm-content-box:after{
        display:none!important;
    }
    
    
    .pd__ex  .iknow-root-dom-element .feed-recommend .feed-recommend-list .feed-recommend-item:before,
    .pd__ex  .iknow-root-dom-element .light-theme .w-question-list:before,
    .pd__ex .iknow-root-dom-element .question-answer-container .question-answer-layer:before,
    .pd__ex  .iknow-root-dom-element .wgt-toggle-header:after,
    .pd__ex .iknow-root-dom-element .feed-recommend.light-theme .feed-recommend-item-exp .content-area .video-desc,
    .pd__ex .iknow-root-dom-element #knowledge-answer-list .knowledge-answer-container:before,
    .pd__ex .iknow-root-dom-element #knowledge-answer-list .wgt-recommend-answer-container:before{
        background: var(--puddingdark-03dp-bgcolor)!important;
    }
    
    
    .pd__ex .iknow-root-dom-element #iknow-common-header:before,
    .pd__ex .iknow-root-dom-element #knowledge-answer-list .knowledge-answer-container .knowledge-answer-buttons .item-btn,
    .pd__ex .iknow-root-dom-element #knowledge-answer-list .wgt-recommend-answer-container .knowledge-answer-buttons .item-btn{
        background: var(--puddingdark-03dp-bgcolor);
    }
    
    .pd__ex  .feed-recommend-item-with-adhere *{
        border-color: var(--puddingdark-03dp-bgcolor)!important;
    }
    
    .pd__ex .iknow-root-dom-element #knowledge-answer-list .knowledge-answer-container .w-knowledge-reply-text .unfold,
    .pd__ex .iknow-root-dom-element #knowledge-answer-list .wgt-recommend-answer-container .w-knowledge-reply-text .unfold{
        background: #222;
    }
    
    .pd__ex  .iknow-root-dom-element #knowledge-answer-list .knowledge-answer-container .w-knowledge-reply-text .unfold:before,
    .pd__ex .iknow-root-dom-element #knowledge-answer-list .wgt-recommend-answer-container .w-knowledge-reply-text .unfold:before{
        background: linear-gradient(90deg, rgba(34,34,34,0.2) 0%, rgba(34,34,34,1) 100%);
    }
    
    
    /* 03dp bg color   */
    .pd__ex .iknow-root-dom-element .law-card-wrapper,
    .pd__ex  .iknow-root-dom-element .wyw-qb-card-wrapper .exp-payask-card-wrapper,
    .pd__ex .iknow-root-dom-element .exp-payask-card-wrapper .cross-line,
    .pd__ex .iknow-root-dom-element .law-middle-consult-card-wrapper .consult-card-search .consult-input,
    .pd__ex .iknow-root-dom-element .law-middle-consult-card-wrapper .exp-marquee-sec .exp-marquee-swiper .exp-marquee-swiper-item,
    .pd__ex .iknow-root-dom-element .bottom-fixed-wrapper .bottom-ask-lawer,
    .pd__ex .iknow-root-dom-element #iknow-common-header.searcher-focus .spect-header,
    .pd__ex .iknow-root-dom-element #iknow-common-header.searcher-focus .wgt-hot-history,
    .pd__ex .iknow-root-dom-element #iknow-common-header>.wgt-hot-history .search-hot-wp .search-hot-item:nth-child(odd):after,
    .pd__ex .iknow-root-dom-element .ui-suggestion,
    .pd__ex .iknow-root-dom-element .ui-suggestion .ui-suggestion-button,
    .pd__ex .iknow-root-dom-element .ui-suggestion ul,
    .pd__ex  .iknow-root-dom-element #iknow-common-header .ui-suggestion ul li:before,
    .pd__ex .iknow-root-dom-element .taugx63e22e.light-theme::after{
        background:var(--puddingdark-03dp-bgcolor);
    }
    
    /* main font color  */
    .pd__ex .iknow-root-dom-element .law-card-wrapper.law-question-wrapper .law-question-title,
    .pd__ex  .iknow-root-dom-element .law-author-wrapper .middle-extra .auth-name a,
    .pd__ex .iknow-root-dom-element .law-top-answer-wrapper .law-w-detail-container .law-w-reply,
    .pd__ex  .iknow-root-dom-element .exp-payask-card-wrapper .payask-title,
    .pd__ex  .iknow-root-dom-element .exp-payask-card-wrapper .info-sec .left-area .info .info-title,
    .pd__ex  .iknow-root-dom-element .law-relative-case-wrapper .relative-case-tit,
    .pd__ex  .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .relative-case-item .case-item-desc,
    .pd__ex .iknow-root-dom-element .law-middle-consult-card-wrapper .consult-card-desc,
    .pd__ex .iknow-root-dom-element .law-middle-consult-card-wrapper .consult-card-search .consult-input,
    .pd__ex  .iknow-root-dom-element,
    .pd__ex .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .excellent-lawer-card-wrapper .excellent-lawer-tit,
    .pd__ex  .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .excellent-lawer-card-wrapper .excellent-lawer-box .excellent-lawer-item .lawer-name a,
    .pd__ex  .iknow-root-dom-element .bottom-guide-card-wrapper .guide-item .guide-left,
    .pd__ex .iknow-root-dom-element .bottom-fixed-wrapper .bottom-ask-lawer,
    .pd__ex  .iknow-root-dom-element #iknow-common-header.iknow-common-law-header.law-header-fixed .title-background .js-header-festival,
    .pd__ex .iknow-root-dom-element #iknow-common-header .title-background .header-festival-link,
    .pd__ex .iknow-root-dom-element #iknow-common-header .go-to-ask,.pd__ex .iknow-root-dom-element #iknow-common-header .go-return,
    .pd__ex .iknow-root-dom-element .question-author-container .question-author-name a,
    .pd__ex .iknow-root-dom-element #iknow-common-header>.wgt-hot-history .search-hot-wp .search-hot-item .search-hot-right-wp .search-hot-content, .pd__ex .iknow-root-dom-element #iknow-common-header>.wgt-hot-history .search-hot-wp .search-hot-item .search-hot-right-wp .search-hot-supply,
    .pd__ex .iknow-root-dom-element #iknow-common-header .spect-header .search-box,
    .pd__ex .iknow-root-dom-element .ui-suggestion-button span{
        color:var(--puddingdark-mainfont-color);
        
    }
    
    /*  second font color  */
    .pd__ex .iknow-root-dom-element .law-card-wrapper.law-question-wrapper .law-question-extra .extra-left .total-answer,
    .pd__ex .iknow-root-dom-element .law-author-wrapper .middle-extra .evaluate-info,
    .pd__ex .iknow-root-dom-element .exp-payask-card-wrapper .info-sec .left-area .info .info-detail,
    .pd__ex .iknow-root-dom-element .exp-payask-card-wrapper .marquee-sec .marquee-text,
    .pd__ex  .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .relative-case-item .case-item-detail,
    .pd__ex  .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .relative-case-item .case-item-extra .left .zhiye,
    .pd__ex .iknow-root-dom-element .law-middle-consult-card-wrapper .consult-card-extra,
    .pd__ex .iknow-root-dom-element .law-middle-consult-card-wrapper .exp-marquee-top-text,
    .pd__ex .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .excellent-lawer-card-wrapper .excellent-lawer-box .excellent-lawer-item .zhiye-info,
    .pd__ex  .iknow-root-dom-element #iknow-common-header .iknow-common-header-content .spect-header .search-logo,
    .pd__ex  .iknow-root-dom-element #iknow-common-header.searcher-focus .spect-header .search-box .search-input,
    .pd__ex  .iknow-root-dom-element #iknow-common-header .spect-header .search-action,
    .pd__ex  .iknow-root-dom-element #iknow-common-header>.wgt-hot-history .search-hot-wp .search-hot-item .search-hot-right-wp .search-hot-supply{
        color:var(--puddingdark-secondfont-color);
    }
    
    /* border color   */
    .pd__ex .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .relative-case-item:not(:last-child):before,
    .pd__ex .iknow-root-dom-element .law-author-wrapper.law-special-answer-author:before,
    .pd__ex .iknow-root-dom-element .law-middle-consult-card-wrapper .consult-card-search .consult-input,
    .pd__ex  .iknow-root-dom-element .law-middle-consult-card-wrapper:before,
    .pd__ex  .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .excellent-lawer-card-wrapper .excellent-lawer-box .excellent-lawer-item,
    .pd__ex .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .excellent-lawer-card-wrapper .excellent-lawer-box .excellent-lawer-item,
    .pd__ex .iknow-root-dom-element .law-relative-case-wrapper .relative-case-content .excellent-lawer-card-wrapper:before,
    .pd__ex  .iknow-root-dom-element .bottom-guide-card-wrapper .guide-item:not(:last-child),
    .pd__ex .iknow-root-dom-element .ui-suggestion ul li,
    .pd__ex .iknow-root-dom-element .ui-suggestion-button span:last-child,
    .pd__ex .iknow-root-dom-element .ui-suggestion .ui-suggestion-button{
        border-color:var(--puddingdark-03dp-bgcolor);
    }
    
    .pd__ex  .iknow-root-dom-element .law-middle-consult-card-wrapper .exp-marquee-sec .cover-left,
    .pd__ex  .iknow-root-dom-element .law-middle-consult-card-wrapper .exp-marquee-sec .cover-right{
        display:none;
    }
    
    .pd__ex .iknow-root-dom-element .bottom-fixed-wrapper{
        background:#222;
    }
    
    .pd__ex  .iknow-root-dom-element #iknow-common-header>.wgt-hot-history .search-hot-wp .search-hot-item .search-hot-left-wp .search-hot-type-icon{
        background-color:unset;
    }
    
    
    
    
    
    
    /* baidu知道PC版 */
    
    
     
     

    
}

