/****百度首页****/
/*去除首页新闻*/
.tab-news-content{display:none!important;}
/*隐藏底部*/
.page-copyright{display:none!important;}
/*隐藏 今日新鲜事*/
.square-banner-bgicon{display:none!important;}
/*隐藏 上滑加载更多*/
.s-loading-frame{display:none!important;}
/*隐藏底部*/
#bottom{display:none!important;}
/*样式居中*/
#header{
    height:100vh;
}

#header #logo{
    margin-top:120px;
}

#header #navs{
    display:none!important;
}

a[data-module=entrance]{
    display:none!important;
}


@media (prefers-color-scheme: dark) {
    #page{
        background:#000!important;
        color:#f3f3f3!important;
    }
    
    #header{
        background:#000!important;
    }
    

    .his-wrap-new{
        background:#000!important;
        color:#fff!important;
    }
    
    .his-wrap-new .fix-wrap{
        background:#000!important;
        color:#fff!important;
    }
    
    .his-no-rec-p{
        color:#fff!important;
    }
    
    .suggest-back{
        color:#fff!important;
    }
    
    #index-card .suggest-div{
        background:#000!important;
        color:#fff!important;
    }
    
    .se-form .sugdir-vs, .se-form .suggest-div button{
        color:#f2f2f2!important;
    }
    
    .sug-content-p .sugdir-vs em, .sug-content-p .his em, .sug-content-p .sug em{
        color:#fff!important;
    }
    

}




/***搜索结果页去广告***/
.ec_ad_results{display:none!important;}
/*.c-result{display:none!important;}*/

/*去掉领话费*/
.mkt-ball-wrapper__2HtOM{
    display:none!important;
}

/*底部*/
#page-copyright{display:none!important;}

/***百家号***/
/*遮照层*/
.layer-wrap{display:none!important;}
.mainContent{height:auto!important;}

/*这个会加到body上，导致无法滚动，去掉overflow hidden*/
body.scrollHide{
    overflow:auto!important;
}

/*头部广告*/
.headDeflectorContainer{display:none!important;}

/*语音播报？*/
.uukjsi6a_zpZccrqYiI3k{display:none!important;}

/*APP 阅读更多*/
.oPadding{
    display:none!important;
}

/*精彩推荐*/
._3cAIWshMtS86T-V_NTTzch{display:none!important;}
.infinite-scroll-component__outerdiv{display:none!important;}


/*baidu 百科 详情页*/
.baike-app-view .yitiao-container{display:none!important;}

/*本来想保留的 不过有随机生成的dom。。。*/
.BK-after-content-wrapper{display:none!important;}






