/****百度首页****/
/*去除首页新闻*/
.tab-news-content{display:none!important;}
/*隐藏底部*/
.page-copyright{display:none!important;}
/*隐藏 今日新鲜事*/
.square-banner-bgicon{display:none!important;}
/*隐藏 上滑加载更多*/
.s-loading-frame{display:none!important;}
/*隐藏底部*/
#bottom{display:none!important;}
/*样式居中*/
#header{
    height:100vh;
}

#header #logo{
    margin-top:120px;
}

#header #navs{
    display:none!important;
}

a[data-module=entrance]{
    display:none!important;
}


@media (prefers-color-scheme: dark) {
    #page{
        background:#000!important;
        color:#f3f3f3!important;
    }
    
    #header{
        background:#000!important;
    }
    

    .his-wrap-new{
        background:#000!important;
        color:#fff!important;
    }
    
    .his-wrap-new .fix-wrap{
        background:#000!important;
        color:#fff!important;
    }
    
    .his-no-rec-p{
        color:#fff!important;
    }
    
    .suggest-back{
        color:#fff!important;
    }
    
    #index-card .suggest-div{
        background:#000!important;
        color:#fff!important;
    }
    
    .se-form .sugdir-vs, .se-form .suggest-div button{
        color:#f2f2f2!important;
    }
    
    .sug-content-p .sugdir-vs em, .sug-content-p .his em, .sug-content-p .sug em{
        color:#fff!important;
    }
    

}




/***搜索结果页去广告***/





.ec_ad_results{display:none!important;}
/*.c-result{display:none!important;}*/

/*去掉领话费*/
.mkt-ball-wrapper__2HtOM{
    display:none!important;
}

/*底部*/
#page-copyright{display:none!important;}

/*dark mode*/
@media (prefers-color-scheme: dark) {
    
    a {
        color: #eee!important;
    }
    
    .se-loading{
        display:none!important;
    }
    
    body,body .se-page-hd{
        background:#000!important;
    }
    
    .se-head-tablink{
        border-color:#aaa!important;
    }
    
    .se-page-bd{
        background:#000!important;
    }
    
    .se-head-tablink{
        background:#000!important;
    }
    
    .se-tablink-scroll-wrapper .se-tab-cur, .se-tablink-scroll-wrapper .se-tab-nxt{
        color:#fff!important;
    }
    .se-tablink-scroll-wrapper .se-tabitem{
        color:#eee!important;
    }
    
    .se-head-tabcover{display:none!important;}
    
    
    .c-container{
        background:#111!important;
        color:#eee!important;
    }
    
    .c-title, .c-title-noclick{
        color:#eee!important;
    }
    
    .c-color{
        color:#ddd!important;
    }
    
    .c-slink-new, .defaultmode .c-slink-strong .c-slink-elem, .defaultmode .c-slink-strong a{
        background:#222!important;
    }
    
    a:visited{
        color:#ddd!important;
    }
    
    .c-source-new .middle .text{
        background:none!important;
        color:#ddd!important;
    }
    
    div[type=tight],div[type=tight] *{
        background:#333!important;
        color:#ddd!important;
    }
    
    .c-slink-new{
        color:#ddd!important;
    }
    
    .c-color-link{
        color:#eee!important;
    }
    
    .c-tags-item[data-a-c2bbb6ac],.c-tags-item{
        background:#222!important;
        color:#ddd!important;
    }
    
    .c-tabs-nav,.c-tabs-nav-selected,.c-tabs-nav-li{
        background:#222!important;
    }
    
    .c-tabs-nav-li{
        color:#ddd!important;
    }
    
    .c-tabs-item[data-a-6654cf06],.c-tabs-item{
        background:#222!important;
        color:#ddd!important;
    }
    
    .c-bg-color-white, .defaultmode .c-container-tight{
        background:#222!important;
        color:#ddd!important;
    }
    
    .hint-rcmd-cover,.c-tags-container .c-tags-scroll-right-mask[data-a-c2bbb6ac]{
        display:none!important;
    }
    
    .c-slink-new-strong, .defaultmode .c-slink-new{
        background:#333!important;
        border-color:#333!important;
    }
    
    .se-page-controller .new-pagenav{
        background:#111!important;
    }
    
    .se-page-copyright, .se-page-ft{
        background:#000!important;
    }
    
    .c-abstract{
        color:#eee!important;
    }
    
    .suggest-div{
        background:#000!important;
    }
    
    .his-wrap-new .sug-content-p button{
        border-color:#aaa!important;
    }
    
    .his-wrap-new .suggest-feedback{
        background:#000!important;
        color:#eee!important;
    }
    
/*  日历组件  */

    .c-date-picker__3cfol .date-picker-year__2t6Zx,.c-date-picker__3cfol .date-picker-today__2LoEx{
        box-shadow:none!important;
    }
    .calendar-footer__3dXWx .footer-content__1t1n9{
        background:#333!important;
    }
    
/*   快递组件 */
    .ms-express-delivery-phone__2efUL{
        background:#333!important
    }
    .ms-express-delivery-form-num__1BvJW .ms-express-delivery-input__3S33N{
/*        background: #f3f3f3!important;*/
        color:#ddd!important;
    }

    
    
}



/***百家号***/
/*遮照层*/
.layer-wrap{display:none!important;}
.mainContent{height:auto!important;}

/*这个会加到body上，导致无法滚动，去掉overflow hidden*/
body.scrollHide{
    overflow:auto!important;
}

/*头部广告*/
.headDeflectorContainer{display:none!important;}

/*语音播报？*/
.uukjsi6a_zpZccrqYiI3k{display:none!important;}

/*APP 阅读更多*/
.oPadding{
    display:none!important;
}

/*精彩推荐*/
._3cAIWshMtS86T-V_NTTzch{display:none!important;}
.infinite-scroll-component__outerdiv{display:none!important;}


/*baidu 百科 详情页*/
.baike-app-view .yitiao-container{display:none!important;}

/*本来想保留的 不过有随机生成的dom。。。*/
.BK-after-content-wrapper{display:none!important;}






