/*PC 版的样式*/

.pd__ex *{
/*    float: none!important;*/
    min-width: unset!important;
/*    max-width:100%!important;*/
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

/*.pd__ex *:hover{*/
/*    all: unset!important;*/
/*}*/

/*.pd__ex img{*/
/*    width:100%!important;*/
/*    height:auto!important;*/
/*}*/


html,body{
    height:unset!important;
}

body{
    min-width: unset!important;
}

.bili-header .bili-header__banner{
    min-width: unset!important;
}

.bili-header .left-entry .entry-title, .bili-header .left-entry .download-entry, .bili-header .left-entry .default-entry, .bili-header .left-entry .loc-entry{
    color:var(--text1)!important;
}

.bili-header .right-entry__outside .right-entry-icon{
    color:var(--text1)!important;
}

.bili-header .bili-header__bar{
    padding: 0 10px!important;
    position: sticky!important;
    display: block!important;
    height: auto!important;
    background:var(--bg1_float);
}

.v-popover.is-top, .v-popover.is-bottom{
    display:none!important;
}

.bili-header .bili-header__banner{
    display:none!important;
}

.bili-header .left-entry__title .mini-header__logo{
    display:none!important;
}

.bili-header .slide-down{
    animation: none!important;
}


.bili-header .slide-down .center-search-container{
    margin:0!important;
}


.bili-header .left-entry .entry-title, .bili-header .left-entry .download-entry, .bili-header .left-entry .default-entry, .bili-header .left-entry .loc-entry,
.bili-header .left-entry__title{
    height: 32px!important;
    line-height:32px!important;
}

.bili-header .left-entry .entry-title .zhuzhan-icon{
    color:var(--text1)!important;
}

.bili-header .right-entry{
    margin:0!important;
    padding: 5px 0!important;
}


.bili-header .bili-header__channel{
    padding: 0 10px!important;
    height: unset!important;
}

.bili-header .bili-header__channel{
    display:block!important;
}

.bili-header .bili-header__channel .right-channel-container{
    display:block!important;
}

.bili-header .bili-header__channel .channel-items__right{
    width: 100%!important;
}

.bili-header .bili-header__channel .channel-items__left{
    display:block!important;
    padding: 0!important;
    border: none!important;
}

.bili-header .bili-header__channel .channel-entry-more__link, .bili-header .bili-header__channel .channel-link{
    width:auto!important;
    padding: 0 5px;
    margin: 3px 5px;
}

.bili-header .bili-header__channel .channel-items__right{
    display: block!important;
}

.bili-header .bili-header__channel .channel-link__right{
    display:inline-block!important;
    width:auto!important;
    padding: 0 5px;
    margin: 3px 5px;
}

.bili-layout{
    padding: 0 10px!important;
}

.bili-grid{
    display: block!important;
    margin-bottom: 15px!important;
}

.recommend-container__2-line{
    display:block!important;
}

.bili-video-card{
    display: inline-block!important;
    width: 49%!important;
    margin: 5px 0.5%;
}

.bili-grid .recommend-container__2-line>*:nth-of-type(1n + 6){
    display: inline-block!important;
}

.eva-extension-area .eva-extension-body{
    display:block!important;
}


.bili-grid .eva-extension-area .eva-extension-body>*:nth-of-type(1n + 5){
    display: inline-block!important;
}

/*直播*/
.live-card-body{
    display:block!important;
}

.bili-live-card{
    display: inline-block!important;
    width: 49%!important;
    margin: 5px 0.5%;
}


.bili-grid .live-card-body>*:nth-of-type(1n + 7){
    display: inline-block!important;
}


.aside-wrap{
    position:relative!important;
    margin-bottom: 30px;
}


.aside-core{
    position:relative!important;
}

.aside-body .aside-core .carousel-slide .list-state-error{
    padding: 30px 0!important;
}


.video-card-list.is-main .video-card-body, .video-card-list.is-full .video-card-body{
    display: block!important;
}

.bili-grid .video-card-list.is-main .video-card-body>*:nth-of-type(1n + 7){
    display:inline-block!important;
}


.bili-layout aside{
    margin-top: 15px;
    margin-bottom:30px;
}


.bili-footer,
.bili-footer .b-footer-wrap{
    min-width:unset!important;
}

.bili-footer .link-box{
    display:block!important;
}

.bili-footer .b-footer-wrap .link-box{
    margin: 0!important;
}

.bili-footer .link-box .link-item__center{
    width:100%!important;
}

.bili-footer .other-link .text-con{
    width:100%!important;
}


.roll-btn-wrap{
    left:unset!important;
    right:0!important;
}

/*赛事*/
.battle-area .battle-body{
    display:block!important;
}

/*番剧*/
.area-header .title{
    font-size:18px!important;
}


.area-header{
    display:block!important;
    height:auto!important;
}

.bangumi-card-list .track-switch button{
    font-size:12px!important;
    padding: 3px!important;
}

.bangumi-card-body, .bangumi-card-shim{
    display: block!important;
}

.bangumi-card-shim{
    display:none!important;
}

.bili-bangumi-card{
    display: inline-block!important;
    width: 49%!important;
    margin: 5px 0.5%;
}

.bili-grid .bangumi-card-body.is-loading>*:nth-of-type(1n + 7){
    display: inline-block!important;
}


.bangumi-activity-area .bangumi-activity-body{
    display:block!important;
}

.bili-movie-card{
    display: inline-block!important;
    width: 49%!important;
    margin: 5px 0.5%;
}

.bili-grid .bangumi-activity-area .bangumi-activity-body>*:nth-of-type(1n + 9){
    display: inline-block!important;
}

.variety-area .variety-body{
    display:block!important;
}

.bili-grid .variety-area .variety-body>*:nth-of-type(1n + 9){
    display: inline-block!important;
}

.information-area .information-body{
    display:block!important;
}

.manga-card-list{
    min-height: unset!important;
}

.cheese-card-list .cheese-card-body{
    display:block!important;
}

.bili-grid .cheese-card-list .cheese-card-body>*:nth-of-type(1n + 7){
    display: inline-block!important;
}

.bili-grid .information-area .information-body>*:nth-of-type(1n + 9){
    display: inline-block!important;
}


.bili-article-card .bili-article-card__wrap{
    flex-direction: column;
}

.movie-card-body{
    display:block!important;
}

.bili-grid .movie-card-body>*:nth-of-type(1n + 7){
    display: inline-block!important;
}

.movie-card-body{
    display:block!important;
}

.bili-grid .movie-card-body>*:nth-of-type(1n + 7){
    display: inline-block!important;
}


.bili-cheese-card{
    display: inline-block!important;
    width: 49%!important;
    margin: 5px 0.5%;
}

.bili-footer .footer-icons{
    width:100%!important;
}


.area-header{
    position: sticky!important;
    top:0;
    background:#fff;
    z-index: 1000!important;
    padding: 5px 0!important;
}


.bili-grid .battle-area .battle-body>*:nth-of-type(1n + 5){
        display:inline-block!important;
}


.bangumi-card-data{
    position:relative!important;
}

.palette-button-outer{
    display:none!important;
}


/* 旧版 video*/
.unlogin-popover{
    display:none!important;
}

/*先处理页面撑开的问题*/
#app{
    width:100%!important;
}

.bili-header{
    min-width:unset!important;
}

.v-wrap{
    min-width:unset!important;
    width:100%!important;
    padding: 0 5px!important;
    display:block!important;
    box-sizing:border-box;
}


.l-con{
    width:100%!important;
}

.v-wrap .r-con{
    width:100%!important;
    margin: 0!important;
    padding: 0 5px!important;
    box-sizing: border-box;
}
/**/
/*#bilibili-player{*/
/*    width:100%!important;*/
/*}*/

#bilibili-player{
    width:100%!important;
    height: 300px!important;
}

.video-desc .desc-info{
    width:100%!important;
}

body.header-v3 #biliMainHeader,
body.header-v3 #biliMainHeader .mini-header{
    height: auto!important;
}

.video-toolbar{
    height:auto!important;
}

.video-toolbar .ops,
.video-toolbar .more,
.video-toolbar .rigth-btn{
    float:none!important;
}

.pd__ex .bilibili-player-video-sendbar{
    display:flex!important;
}


.bilibili-player.mode-miniscreen.bilibili-player .bilibili-player-area .bilibili-player-video-state,
.bilibili-player.mode-miniscreen[class*=mode-] .bilibili-player-area .bilibili-player-video-state{
    display: block!important;
    opacity: 0.2!important;
    bottom: 5px!important;
    right: 5px!important;
}

.bilibili-player.mode-miniscreen.bilibili-player .bilibili-player-area.video-state-pause .bilibili-player-video-state,
.bilibili-player.mode-miniscreen[class*=mode-] .bilibili-player-area.video-state-pause .bilibili-player-video-state{
    display: block!important;
    bottom: 5px!important;
    right: 5px!important;
    opacity: 0.8!important;
}

.bb-comment .comment-list .list-item .user-face, .comment-bilibili-fold .comment-list .list-item .user-face{
    width:48px!important;
}

.bb-comment .comment-list .list-item .con, .comment-bilibili-fold .comment-list .list-item .con{
    margin-left: 60px!important;
}


.up-info .u-face.has-pendant{
    left:0!important;
}

.player-auxiliary-area{
    width:100%!important;
}

.bb-comment .comment-send.comment-send-lite, .comment-bilibili-fold .comment-send.comment-send-lite, .bb-comment .comment-send-lite.comment-send-lite, .comment-bilibili-fold .comment-send-lite.comment-send-lite,.comment-send-lite-mask{
    display:none!important;
}
/* 旧版 video 结束*/

/* 新版video */
/*解决撑开的问题开始*/
.pd__ex #playerWrap{
    height:auto;
    position: sticky;
    top:0;
    z-index: 1000;
}

.pd__ex #app #bilibili-player{
    height:auto!important;
}

.pd__ex #app #bilibili-player.mini-player{
    width: 100%!important;
    height:auto!important;
    right: unset!important;
    bottom: unset!important;
}

.pd__ex #app #bilibili-player.mini-player .player{
    width: 100%!important;
    height:auto!important;
}

.pd__ex #bilibili-player.mini-player:hover .bilibili-player-drag-mask-close,
.pd__ex #bilibili-player.mini-player:hover .bilibili-player-drag-mask-state,
.pd__ex .bilibili-player.mode-miniscreen .bilibili-player-area .bilibili-player-drag-mask-progress{
    display: none;
}


.video-container-v1{
    min-width:unset!important;
    flex-direction:column;
}

.left-container{
    width:100%!important;
}

.video-container-v1 .right-container{
    width:100%!important;
}

.video-container-v1 .right-container{
    margin:0!important;
}

.video-toolbar-v1{
    height:auto!important;
}

.video-toolbar-v1 .toolbar-left{
    float:none!important;
}

.video-toolbar-v1 .toolbar-right{
    float:none!important;
}

/*解决撑开的问题结束*/

body #app #bilibili-player.mini-player{
    position:relative!important;
}


/* 新版video 结束 */


.video-info .video-data{
    display:block!important;
    white-space: unset!important;
    padding: 5px 0!important;
}


/*登陆框*/

.bili-mini{
    width:90%!important;
    display:block!important;
    padding:15px!important;
    box-sizing:border-box;
}

.bili-mini-scan{
    display: none!important;
}

.bili-mini-content .bili-mini-line{
    display: none!important;
}

.bili-mini-login-wrapper{
    width:100%!important;
}

.bili-mini-account,
.bili-mini-password{
    padding:0 5px!important;
}

.bili-mini-password input{
    width:unset!important;
}

.third-party-login-wrapper .sns .btn{
    margin-right: 15px!important;
}

.bili-mini-tel,
.bili-mini-code{
    padding: 0 5px!important;
}

.bili-mini-tel .bili-mini-tel_left{
    display:flex;
}

.bili-mini-tel .bili-mini-tel_right .line{
    margin-right: 5px!important;
}

.bili-mini-tel .bili-mini-tel_left .tel-input{
    width: unset!important;
}

.bili-mini-tel .bili-mini-tel_right .text{
    font-size: 12px!important;
}

.pd__ex .bili-header .mini-avatar--large .header-entry-avatar{
    animation:none;
}

.pd__ex .bili-header .mini-avatar--large .header-entry-mini{
    animation:none;
}

.bili-header .header-avatar-wrap .header-avatar-wrap--container .bili-avatar{
    width: 100%!important;
    height: 100%!important;
    transform:none!important;
}


.pd__ex .video-info-v1 .video-data{
    flex-wrap : wrap;
    height: auto;
}

.pd__ex .video-info-v1{
    height: auto;
    padding-top:10px;
}

.pd__ex .video-info-v1 .video-title{
    font-size: 18px;
}
/**/
/**/
/* 排名开始 www.bilibili.com/v/popular/rank/*/
.pd__ex #app{
    padding: 0 10px;
}
.pd__ex #app.app-v1{
    padding:0;
}


.pd__ex .nav-tabs,
.pd__ex .nav-tabs__item{
    flex-wrap: wrap;
    height: auto;
}

.pd__ex .nav-tabs__item{
    margin-right: 5px;
}

.pd__ex .nav-tabs__item>div>img{
    width:16px;
    height:16px;
    margin-right: 5px;
}

.pd__ex .rank-tab-wrap{
    padding: 5px 0;
    margin:0;
}

.pd__ex .rank-tab-wrap .rank-tab{
    height: auto;
}

.pd__ex .popular-list[data-v-85e600c4]{
    padding-top:10px;
}

.pd__ex .popular-list .popular-tips[data-v-85e600c4]{
    margin-bottom:10px;
}

.pd__ex .video-card[data-v-0c3f5fbc],
.pd__ex .video-card__content[data-v-0c3f5fbc]{
    height: auto;
    margin-bottom:10px;
}

.pd__ex .video-card[data-v-0c3f5fbc]{
    flex-direction: column;
}

.pd__ex .video-card__info[data-v-0c3f5fbc]{
    padding: 0;
}


.pd__ex .rank-list .rank-item .content{
    flex-direction: column;
    padding: 0 0 10px;
}

.pd__ex .rank-list .rank-item .content .info{
    height:auto;
    margin-left:0;
    padding-right:0;
}

.pd__ex .rank-list .rank-item .content .info .title{
    height:auto;
}

.pd__ex .rank-list .rank-item .content .info .detail{
    margin-top: 0;
}

.pd__ex .more-data{
    position:relative;
    right:unset;
    bottom: unset;
}


.pd__ex .international-footer{
    padding:10px;
}

.pd__ex .international-footer .link-box{
/*    flex-wrap: wrap;*/
    display:block;
}

.pd__ex .international-footer .link-box .footer_left{
    display:block;
}

.pd__ex .international-footer .link-box .link-item{
    margin:10px 0 0 ;
    padding:0;
    border:none;
}

.pd__ex .international-footer .link-box .footer_right{
    margin-top: 10px;
}

.pd__ex  .international-footer .link-box .link-item.link-c p{
    margin:0;
}

.pd__ex .international-footer .partner{
    display:block;
}

.pd__ex .international-footer .partner .pic-box{
    width: 100%;
    margin:0;
}

.pd__ex .international-footer .partner .text-con{
    width: 100%;
}

.pd__ex .popular-container{
    padding: 0;
}

.pd__ex .s_tag-v1 .tag-wrap .tag-area > li{
    display:inline-block;
}

.pd__ex .activity-m-v1 .inside-wrp .left{
    padding: 0;
    margin: 0;
    height: auto;
    text-align: center;
}

.pd__ex .activity-m-v1 .inside-wrp .right .inside-bg{
    width: 100%;
}


/*排名结束*/
/**/
/**/

/* 科技频道  start*/
.pd__ex .go-back-btn,
.pd__ex .channel-layout,
.pd__ex .channel-outer-nav{
    padding: 0 10px;
}

.pd__ex .channel-nav{
    display: block;
    z-index: 100;
}


.pd__ex .channel-swiper{
    height:auto;
    margin-bottom: 0;
}

.pd__ex .channel-swiper .carousel .carousel-container .carousel-transform{
    display:block;
    overflow:scroll!important;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.pd__ex .channel-swiper-client .carousel .carousel-container .carousel-transform .carousel-slide{
    transition: none;
    transform: none!important;
    position:relative;
    display:inline-block;
    width: 90%!important;
    height: auto;
    margin: 0 2%;
}

.pd__ex .fixed-wrapper{
    position:relative;
}


.pd__ex .channel-swiper .channel-carousel-buttons{
    display:none;
}

.pd__ex .channel-swiper .channel-carousel-tool{
    display:none;
}

.pd__ex .channel-swiper .carousel .carousel-container .carousel-transform .carousel-slide .channel-img{
    opacity:1;
    display:inline-block!important;
}

.pd__ex .channel-swiper .carousel .carousel-container .carousel-transform .carousel-slide .channel-img .channel-img__mask .channel-img__mask--text{
    font-size:12px;
}


.pd__ex .bili-grid,
.pd__ex .video-card-list .video-card-body{
    display:block;
}

.pd__ex .video-card-list .video-card-body>*:nth-of-type(1n + 7){
    display:inline-block!important;
}

.pd__ex .bili-rank-list-video .rank-video-card__info--tit{
    overflow:auto;
}

.pd__ex .bili-video-card .bili-video-card__info--tit{
    padding-right: 0;
    overflow: auto;
    font-size: 12px;
}

/*.pd__ex .aside-core > div{*/
/*    display: inline-block;*/
/*    width: 49%;*/
/*    margin: 5px 0.5%;*/
/*}*/

/*.pd__ex .aside-core .bili-rank-list-video{*/
/*    width: 100%;*/
/*    margin: 0;*/
/*}*/

/* 科技频道 OVER*/
