/*首页*/

@media (prefers-color-scheme: dark) {
    html{
        color:rgba(255,255,255,0.87)!important;
    }
    
    body{
        background-color:#121212!important;
    }
    
    .suspension-box,.m-navbar,.v-switcher__header{
        background-color:#121212!important;
    }
    
    .v-switcher__header__tabs__item{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .v-drawer__wrap{
        background-color:#121212!important;
    }
    
    .channel-drawer .drawer-box{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .m-home{
        background-color:#121212!important;
    }
    
    .v-card .title{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .v-card-single .card .info .title{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .m-video-info-new .title .left h1,.m-video-info-new .fold-container .fold-area .up .face .info .name{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .v-switcher__content__item{
        background-color:#121212!important;
        color:rgba(255,255,255,0.87)!important;
    }
    .v-card-toapp .title{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .m-video-comment .list ul li.comment-item .detail .content{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .m-sub-reply-preview{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .m-sub-reply-preview .sub-preview-item{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .m-video-new .m-footer{
        background-color:#121212!important;
    }
    
    .m-footer p{
        color:rgba(255,255,255,0.6)!important;
    }
    
    .v-navbar__body{
        background-color:#121212!important;
    }
    
    .v-card-single .rank-num{
        color:rgba(255,255,255,0.6)!important;
    }
    
}



/*隐藏打开app按钮*/
.home-float-openapp{
    display:none!important;
}


/**播放详情页**/
a > *{
    pointer-events:none;
}


.m-video2-main-img{
    display:none!important;
}

.__puddingPlayInOriginDiv{
    margin:0 auto;
    width:100%;
    height:48px;
    line-height:48px;
    text-align:center;
    background: #fb7299;
    color: #fff;
    position:fixed;
    bottom:0;
    z-index:1000;
    font-size:12px;
}

.m-video-new.sticky .m-video-main-launchapp{
    margin-top:72vw!important;
}

.m-float-openapp{
    display:none!important;
}

/*把原来跳转到app的去掉*/
.video-list .card-box .v-card-toapp{
    display:none!important;
}

.video-list .card-box .v-card-toapp.__pudding_create{
    display:block!important;
}







