/*首页*/
/*隐藏打开app按钮*/
.home-float-openapp{
    display:none!important;
}


/**播放详情页**/
a > *{
    pointer-events:none;
}


.m-video2-main-img{
    display:none!important;
}

.__puddingPlayInOriginDiv{
    margin:0 auto;
    width:100%;
    height:48px;
    line-height:48px;
    text-align:center;
    background: #fb7299;
    color: #fff;
    position:fixed;
    bottom:0;
    z-index:1000;
    font-size:12px;
}

.m-video-new.sticky .m-video-main-launchapp{
    margin-top:72vw!important;
}

.m-float-openapp{
    display:none!important;
}

/*把原来跳转到app的去掉*/
.video-list .card-box .v-card-toapp{
    display:none!important;
}

.video-list .card-box .v-card-toapp.__pudding_create{
    display:block!important;
}







