.FormBorder{height: 100vh!important;top: 0!important;width: 100%;left: 0;}
.topbar,.UI_ListItem.today,.MDIInnerBlock,.HSpacer{display:none!important;}
.Edit{width:80px!important;}
.custom .cusView .customeImg{width:50px!important;}
.UI_ListItem.custom{width:100%!important;}
.LayoutItemControl{padding:0!important;}
button:hover {background: unset!important;color:unset!important;board:unset!important;}

/*售后单申请样式优化*/
.HBlock{overflow:scroll!important;}

/*一开始的弹窗优化*/
.MessageBox{
    left:0!important;
}
