/*首页*/

:root{
    --puddingdark-mainfont-color: rgba(255,255,255,0.87);
    --puddingdark-secondfont-color: rgba(255,255,255,0.6);
    --puddingdark-border-color: rgba(255,255,255,0.08);
    --puddingdark-main-bgcolor: #121212;
    --puddingdark-03dp-bgcolor: rgba(255,255,255,0.08);
    --puddingdark-06dp-bgcolor : rgba(255,255,255,0.11);
    --puddingdark-blue-color: rgb(10,132,255);
    --color-dark-orange: rgb(255, 159, 10);
}


.home-container .home-buzz-container .home-buzz--right{
    height: 9rem!important;
    overflow:scroll!important;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.home-container .home-buzz-container .list{
    transform:none!important;
}

.home-container .home-buzz-container .title{
    white-space: normal!important;
}

.popup-top{
    display:none!important;
}


@media (prefers-color-scheme: dark) {
    .pd__ex{
        background:#121212;
    }
    
    *{
        border-color:rgba(255,255,255,0.08)!important;
    }

}



/*添加dark mode*/
@media (prefers-color-scheme: dark) {
    
    img{
        filter: brightness(0.8);
    }

    body,html,.home-container{
        background:#121212!important;
        color: rgba(255,255,255,0.87)!important;
    }
    
    .ifr-nav-logo{
        filter: brightness(0) invert(1);
    }
    
    a{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .home-container .header-container .search-button .ifanr2015,.global-nav-overlay-container.simple .ifanr2015, .header.simple .ifanr2015{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .home-container .home-buzz-wrapper{
        background:rgba(255,255,255,0.07)!important;
    }
    
    .home-container .home-buzz-container .title{
        color: rgba(255,255,255,0.87)!important;
    }
    .home-container .banner-container .banner-box .banner-item-box .title,.home-container .article-container .article-item .right-box .title{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .home-container .outer-container{
        background:none!important;
    }
    
    .home-container .nav-header-container,.home-container .nav-container{
        background:#121212!important;
    }
    
    .home-container .nav-container ul .nav-item{
        color: rgba(255,255,255,0.87)!important;
    }
    
    /*菜单页面 */
    
    .global-navigator .nav-controller{
        background:#121212!important;
    }
    .global-navigator{
        background:rgba(0,0,0,0.92)!important;
    }
    
    .global-navigator .link-box,.global-navigator .about-box{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .global-navigator .nav-user .login-register-area-en, .global-navigator .nav-user .nav-user-signature{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .global-navigator .nav-controller .ifanr2015{
        color: rgba(255,255,255,0.87)!important;
    }
    .global-navigator .app-box .app-desc{
        color: rgba(255,255,255,0.87)!important;
    }
    
/*  视频详情页  */

    .page-content{
        background:#121212!important;
    }
    
    .article-info .article-info__category time{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .main-singular .entry-content p{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .article-sns-tool .share-text{
        color: rgba(255,255,255,0.6)!important;
    }
    
    .recommend-article .recommend-article-item .article .article-title{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .comments-box{
        background:#121212!important;
    }
    
    .article-footer-header{
        color: rgba(255,255,255,0.87)!important;
    }
    
    #stick-header{
        background:#121212!important;
    }
    
    #stick-header i{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .main-singular .entry-content{
        color: rgba(255,255,255,0.6)!important;
    }
    
    .comment-body{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .main-singular .entry-content .entry-content__tags a{
        background:rgba(255,255,255,0.08)!important;
    }
    
    
    
    .home-container .home-buzz-container .home-buzz--left,
    #stick-header .ifr-logo,
    .popup-top .popup-top__desc{
        filter: brightness(0) invert(1);
    }
    
    /*  ifanr 快讯  */
    #BuzzPages .buzz-cover{
        background: none!important;
    }

    #BuzzPages .buzz-cover .buzz-title__chinese{
        filter: brightness(0) invert(1);
    }
    
    #BuzzPages .buzz-container{
        background:#121212!important;
    }
    
    #BuzzPages .buzz-list-item .buzz-time-node_time{
        color: rgba(255,255,255,0.87)!important;
    }
    
    #BuzzPages .buzz-list-item .buzz-node_title{
        color: rgba(255,255,255,0.87)!important;
    }
    
    #BuzzPages .buzz-list-item .buzz-node_excerpt{
        color: rgba(255,255,255,0.6)!important;
    }
    
    #BuzzPages .expand-more{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .main-singular .entry-content ol, .main-singular .entry-content ul{
        color: rgba(255,255,255,0.87)!important;
    }
    
    .home-container .article-container .article-item .article-separator{
        background-color:rgba(255,255,255,0.08)!important;
    }
    
    /* ipad   */
    .pd__ex .page-body,
    .pd__ex .c-home,
    .pd__ex .article-collection--list .collection-container,
    .pd__ex .article-collection--list .collection-sidebar,
    .pd__ex .article-item--list,
    .pd__ex .sub-nav.nav-bar--fixed,
    .pd__ex .buzz-widget,
    .pd__ex .top-banner .top-banner-item .banner-item-image .banner-img-hover,
    .pd__ex .article-large-item .article-info,
    .pd__ex .c-global-header .c-header-navbar__white,
    .pd__ex .o-single-content__body--main,
    .pd__ex .c-card,
    .pd__ex .c-article-comments,
    .pd__ex .article-item--card{
        background-color:var(--puddingdark-main-bgcolor);
    }
    
    .pd__ex .container-middle{
        background:var(--puddingdark-main-bgcolor);
    }
    
    .pd__ex .load-more-card,
    .pd__ex .buzz-widget .buzz-widget-items .buzz-widget-items__item .buzz-widget-items__item__content .summary,
    .pd__ex .c-goto-top,
    .pd__ex .s-single-article blockquote,
    .pd__ex .c-article-tags__item,
    .pd__ex .c-article-likes__button,
    .pd__ex .c-article-share__button,
    .pd__ex .c-comment-label,
    .pd__ex .c-article-comments__nav button.is-active,
    .pd__ex .c-article-comments__nav button:hover,
    .pd__ex .c-article-comments-form .c-article-comments-form__input--textarea--box{
        background-color:var(--puddingdark-03dp-bgcolor);
    }
    
    .pd__ex .sub-nav,
    .pd__ex .sub-nav .sub-nav-item,
    .pd__ex .top-banner .top-banner-item .banner-item-title,
    .pd__ex .buzz-widget,
    .pd__ex .buzz-widget .buzz-widget-items .buzz-widget-items__item .buzz-widget-items__item__title,
    .pd__ex .article-large-item .article-info .article-info-type,
    .pd__ex  .c-global-header .c-header-navbar__white .c-header-navbar－content__left .c-header-navigation .c-header-navigation__item,
    .pd__ex .c-single-normal__title,
    .pd__ex .s-single-article h1,
    .pd__ex .s-single-article h2,
    .pd__ex .s-single-article h3,
    .pd__ex .c-card-author__name,
    .pd__ex .c-card-category.c-article-comments__headline,
    .pd__ex .c-article-comments,
    .pd__ex .c-article-comments-item__name,
    .pd__ex  #footerRecPosts .inner-box .footer-articles-title,
    .pd__ex .article-item h{
        color: var(--puddingdark-mainfont-color);
    }
    
    .pd__ex .top-banner .top-banner-item .banner-item-image .banner-img-hover,
    .pd__ex .load-more-card,
    .pd__ex .s-single-article,
    .pd__ex .s-single-article p,
    .pd__ex .c-article-comments__nav button.is-active,
    .pd__ex .c-article-comments__nav button:hover{
        color: var(--puddingdark-secondfont-color);
    }
    
    
    .pd__ex .sub-nav .left-arrow .right-white-cover,
    .pd__ex .sub-nav .right-arrow .right-white-cover{
        display:none;
    }
    
    

    
    
    
    
}
