<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.web-extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariWebExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>pudding_global.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>qq.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>36kr.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>bilibili_pc.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>douban.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>baidu.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>smzdm.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>bilibil.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>163.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>zhihu.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>weibo.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>gjp.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>myseller.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>autohome.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>taobao.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>jd.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>tieba.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>ke.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>mi.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>dianping.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>csdn.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>jandan.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>hupu.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>pdgzf.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>baiduzhidao.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>baidupan.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>xiaohongshu.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>mafengwo.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>baijiahao.js</string>
			</dict>
		</array>
		<key>SFSafariStyleSheet</key>
		<array>
			<dict>
				<key>Style Sheet</key>
				<string>qq.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>bilibili_pc.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>douban.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>v2ex.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>smzdm.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>ifanr.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>bilibili.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>jianshu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>sina.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>zhuhu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>xiaohongshu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>baidu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>163.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>36kr.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>pudding_global.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>weibo.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>gjp.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>csdn.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>sohu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>myseller.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>autohome.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>taobao.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>jd.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>tieba.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>ke.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>mi.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>dianping.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>jandan.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>hupu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>pdgzf.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>baiduzhidao.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>baidupan.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>mafengwo.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>baijiahao.css</string>
			</dict>
		</array>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.ke.com</string>
				<string>*.autohome.com.cn</string>
				<string>*.taobao.com</string>
				<string>*.sohu.com</string>
				<string>*.wsgjp.com.cn</string>
				<string>*.qq.com</string>
				<string>*.douban.com</string>
				<string>v2ex.com</string>
				<string>*.smzdm.com</string>
				<string>*.jianshu.com</string>
				<string>*.sina.cn</string>
				<string>*.36kr.com</string>
				<string>*.zhihu.com</string>
				<string>*.xiaohongshu.com</string>
				<string>*.baidu.com</string>
				<string>3g.163.com</string>
				<string>*.bilibili.com</string>
				<string>m.weibo.cn</string>
				<string>blog.csdn.net</string>
				<string>m.jd.com</string>
				<string>m.mi.com</string>
				<string>m.dianping.com</string>
				<string>i.jandan.net</string>
				<string>m.hupu.com</string>
				<string>*.pdgzf.com</string>
				<string>m.mafengwo.cn</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
