<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.web-extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariWebExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>smzdm.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>bilibil.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>163.js</string>
			</dict>
		</array>
		<key>SFSafariStyleSheet</key>
		<array>
			<dict>
				<key>Style Sheet</key>
				<string>v2ex.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>smzdm.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>ifanr.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>bilibili.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>jianshu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>sina.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>zhuhu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>xiaohongshu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>baidu.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>163.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>36kr.css</string>
			</dict>
		</array>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>v2ex.com</string>
				<string>*.smzdm.com</string>
				<string>*.jianshu.com</string>
				<string>*.sina.cn</string>
				<string>*.36kr.com</string>
				<string>*.zhihu.com</string>
				<string>*.xiaohongshu.com</string>
				<string>*.baidu.com</string>
				<string>3g.163.com</string>
				<string>*.bilibili.com</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
