/*千牛后台*/
/*首页*/

body.pd__ex{
    height: -webkit-fill-available;
    overflow:hidden
}

body.pd__ex *{
    max-width: 100%!important;
}

.pd__ex .QnworkbenchHome_src_QnworkbenchHome__7TiUC{
    padding: 5px;
}

.pd__ex .BasicLayout--container--3mhY6eF{
    min-width: unset;
    padding:0;
    height: -webkit-fill-available;
    flex-direction: column;
}

.pd__ex .QnworkbenchHome_src_bottomContainer__m151t{
    flex-wrap: wrap;
}

.pd__ex .Header--container--_mH0Ilt{
    min-width: unset;
}

/*header*/
.pd__ex .Header--container--_mH0Ilt .Header--bg--2prYj84{
    display:none;
}

.pd__ex .FirstClassMenu--container--2FHmuHR{
    display:block;
    top: unset;
    position:relative;
    order: 1;
    width:100%;
    overflow:hidden;
}

.pd__ex .FirstClassMenu--container--2FHmuHR *{
    max-width:100%!important;
    box-sizing: border-box;
    width: 100%;
}

.pd__ex .FirstClassMenu--firstClassMenu--2QqBjfl .FirstClassMenu--navItem--Izq9hLb{
    padding: 0 5px;
    display:inline-block;
    width:auto;
}

.pd__ex .FirstClassMenu--firstClassMenu--2QqBjfl .FirstClassMenu--brandWrap--1yA-w1I,
.pd__ex .FirstClassMenu--about--3bcCkLg{
    display: none;
}

.pd__ex .FirstClassMenu--firstClassMenu--2QqBjfl .FirstClassMenu--navContent--2-KR2BY{
    padding: 0;
    width: 100%;
}

.pd__ex .FirstClassMenu--firstClassMenu--2QqBjfl .FirstClassMenu--selectedNavItem--3kkaIdx{
    padding:0 5px;
    background:#fff;
    margin-left: 0;
    display:inline-block;
    width: auto;
}

.pd__ex .FirstClassMenu--firstClassMenu--2QqBjfl .FirstClassMenu--navList--LWMJEjL{
    padding-right:0;
    width: 100%;
}

.pd__ex .FirstClassMenu--firstClassMenu--2QqBjfl .FirstClassMenu--navListWrap--4Ka30jR{
/*    flex-direction : row;*/
/*    flex-wrap: nowrap;*/
    overflow-y:hidden;
    overflow-x:scroll;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    width: 100%;
    display: block;
    white-space:nowrap;
    vertical-align: top;
    font-size:0;
}

.pd__ex .FirstClassMenu--firstClassMenu--2QqBjfl .FirstClassMenu--menuLine--1KdSXrf{
    display:none;
}

.pd__ex .BasicLayout--container--3mhY6eF.BasicLayout--homeContainer--2c9Ejgg{
    padding: 0;
    display: flex;
    height: -webkit-fill-available;
}

.pd__ex .Container--container--mFB4pNB{
    order:3;
}

.pd__ex .BasicLayout--container--3mhY6eF.BasicLayout--homeContainer--2c9Ejgg #icestarkNode{
    min-width: unset;
    width: 100%;
}

.pd__ex .QnworkbenchHome_src_QnworkbenchHomeWrap__EQGPE{
    min-width: unset;
}

.pd__ex .QnworkbenchHome_src_leftSide__9OZc9{
    margin-right:0;
}

.pd__ex .qnWorkbench-microMods-HomeProfile_TodoListRow_MerchantName__3jdAE{
    font-size:10px;
}

.pd__ex .next-row.next-row-wrap{
    margin: 0!important;
    width: 100%;
}

.pd__ex .next-col-6{
    width: 48%;
    flex:0 0 48%;
    padding: 0!important;
    margin: 0 1%;
}

.pd__ex .QnworkbenchHome_src_moduleWrap__m8LAJ{
    margin-bottom: 15px;
}

.pd__ex .QnworkbenchHome_src_rightSide__yOVE1,
.pd__ex .seller-level_Hello_container__zp4nM{
    width: 100%;
}

.pd__ex .qnWorkbench-microMods-SubscribedApplication_SubscribedApplication_SubscribedApplicationContainer__-xLi1{
    display: none;
}



.pd__ex .QnworkbenchHome_src_rightSide__yOVE1,
.pd__ex .seller-level_Hello_container__zp4nM{
    width: 100%;
}

.pd__ex .qnWorkbench-microMods-SubscribedApplication_SubscribedApplication_SubscribedApplicationContainer__-xLi1{
    display: none;
}

/*交易页面*/
.pd__ex .SecondClassMenu--container--12py7e_{
    position:relative;
    order:2;
    top:0;
    left:0;
    width: 100%;
<<<<<<< HEAD
    height: 48px;
=======
}

.pd__ex .SecondClassMenu--title--3jI2t7s{
    display: none;
>>>>>>> 6c630011eef5ee4c2fbf64fc6634be475308807d
}

.pd__ex .SecondClassMenu--wrap--1r2q_p5{
    width: 100%;
}

<<<<<<< HEAD
.pd__ex .SecondClassMenu--title--3jI2t7s{
    display:none;
=======

.pd__ex .SecondClassMenu--container--12py7e_ *[role="option"],
.pd__ex .SecondClassMenu--container--12py7e_ *[role="listbox"],
.pd__ex .SecondClassMenu--container--12py7e_ *[role="listitem"]{
    white-space: nowrap;
    display: inline-block;
    width: auto;
}

.pd__ex .SecondClassMenu--subNav--tqVkaDK .next-nav-item{
    min-width: unset;
}

.pd__ex .trade-platform_sold_sold-container__vcEBi{
    padding: 0;
}

.pd__ex .BasicLayout--container--3mhY6eF #icestarkNode{
    width: 100%;
    min-width: unset;
}

.pd__ex .next-table th .next-table-cell-wrapper{
    padding: 0;
    font-size: 8px;
}

.pd__ex .next-table-body{
    font-size: 8px;
}

.pd__ex .trade-platform_sold_sold-container__vcEBi .trade-platform_sold_product-item-box__jvmt\+ .trade-platform_sold_product-title__ttBBs,
.pd__ex .trade-platform_sold_sold-container__vcEBi .trade-platform_sold_sku-desc__9Mz1\+,
.pd__ex .trade-platform_sold_sold-container__vcEBi .trade-platform_sold_extra-desc__mBj1Q{
    font-size: 8px;
    line-height: 1.2;
}

.pd__ex .next-table td .next-table-cell-wrapper{
    padding: 0;
>>>>>>> 6c630011eef5ee4c2fbf64fc6634be475308807d
}
