/*https://developer.apple.com/design/human-interface-guidelines/foundations/color*/

@media (prefers-color-scheme: dark) {
    body.pd__ex{
        background: #121212;
        color:rgba(255,255,255,0.87);
    }
    
    body.pd__ex *{
        border-color:rgba(255,255,255,0.08)!important;
    }
    
    body.pd__ex img{
        filter: brightness(0.8);
    }
}
