/* .pd__ex */
/*https://drafts.csswg.org/css-nesting-1/ css nssting 暂时还不支持Orz*/

/*上古前端么。。。这么喜欢用float*/
.pd__ex *{
    float: none!important;
    min-width: unset!important;
    max-width:100%;
    box-sizing: border-box;
}

.pd__ex img{
    width:100%!important;
    height:auto!important;
}

.pd__ex .header{
    padding: 0 15px;
    position: sticky;
    top:0;
}

.pd__ex .header-con{
    width: 100%;
}

.pd__ex .header .left-con{
    display: flex;
    padding:0;
}


.pd__ex .header .middle-con{
    width: 100%;
    margin : 0;
    display: flex;
}

.pd__ex .header .a-logo{
    width: 30%;
    display: inline-block;
}


.pd__ex .header .a-logo img,
.pd__ex .header .a-logo svg{
    width: 100%;
    height: auto;
}

.pd__ex .header .a-slogan{
    width: 28%;
    display: inline-block;
}

.pd__ex .header .a-slogan img,
.pd__ex .header .a-slogan svg{
    width: 100%;
    height: auto;
}

.pd__ex .header .search{
    width: 100%;
}

.pd__ex .header .search .s-input,
.pd__ex .s-header .search .s-input{
    background: none;
    border : 1px solid #fcc800;
    display: flex;
    line-height:unset;
    padding:0;
}

.pd__ex .header .search .s-input{
    display:block;
    width: 100%;
}

.pd__ex .header .search .s-input input{
    width: 100%;
    height: 32px;
    padding: 0 10px;
    box-sizing:border-box;
}

.pd__ex .header .search .s-input .a-search-btn{
    z-index:100;
    height:36px;
    line-height: 36px;
}

.pd__ex .header .right-con{
    display:flex;
    padding:0;
}

.pd__ex .s-header{
    display:none!important;
}


.pd__ex .header-menu{
    padding: 0 15px;
}


.pd__ex .footer-con{
    width:100%;
}

.pd__ex .header-menu .p-left-menu a{
    font-size:14px;
    margin-left:10px;
    display: inline-block;
}

.pd__ex .header-menu .p-left-menu a.cur{
    font-size:14px;
}

.pd__ex .header-menu .p-right-menu a{
    font-size:14px;
}

.pd__ex .header-menu-con{
    line-height:32px;
}

.pd__ex  .wrapper,
.pd__ex .wrapper.p-t-20{
    padding:0;
}

.pd__ex .wrapper .row.row-ivy{
    height:auto;
}

.pd__ex .wrapper .row.pb20,
.pd__ex .wrapper.p-b-20{
    padding-bottom:0!important;
}

.pd__ex .swiper-wrap-index{
    height:auto;
    aspect-ratio: 3 / 1;
}

.pd__ex .swiper-wrap-index .swiper-content .swiper-item{
    height:100%;
}

.pd__ex .home-banner-rf{
    width: 100%;
    height: auto;
}

.pd__ex .dynamic-th .right-tt .titt{
    display:inline-block;
    font-size: 18px;
}

.pd__ex .dynamic-tb li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
}

.pd__ex .wrapper .row{
    padding-bottom:0;
}

.pd__ex .classify-box{
    height: auto;
    border: none;
}

.pd__ex .classify-box .classify-complete{
    display:flex;
    height: auto;
    padding: 0;
}

.pd__ex .header-menu .p-right-menu a i{
    display:none;
}

.pd__ex .txt-links dt a{
    
}

.pd__ex .txt-links dt a .tit{
    
}
.pd__ex .classify-complete .txt-links dd a{
    margin-right:5px;
}

.pd__ex .classify-complete .classify-icon{
    height: auto;
    display:flex;
    flex-direction: column;
    padding: 0;
    width: 90px;
    align-items: center;
    justify-content: center;
}

.pd__ex .classify-complete .classify-icon a{
    display:inline-block;
}

.pd__ex .classify-complete .txt-links-box{
    margin: 0;
    padding: 15px 0;
    
    width: auto;
}

.pd__ex .classify-complete .txt-links{
    width:100%!important;
}

.pd__ex .author-prefecture{
    height: auto;
    padding: 0;
    display: flex;
    border: none;
    align-items: center;
}

.pd__ex .classify-complete .classify-icon a{
    width: auto;
}

.pd__ex .author-prefecture dd{
    display:flex;
}


.pd__ex .qm-pic-txt.pic-110-146-classify.height-316,
.pd__ex .qm-pic-txt.pic-110-146-single.height-316,
.pd__ex .qm-pic-txt.pic-110-146.height-316{
    height: auto;
}

.pd__ex .qm-pic-txt.pic-110-146 li,
.pd__ex .qm-pic-txt.pic-110-146-classify li,
.pd__ex .qm-pic-txt.pic-110-146-single li{
    display:inline-block;
    width:31%;
    margin: 0 0.5%;
    vertical-align: top;
}

.pd__ex .qm-pic-txt li .txt span.s-des{
    height:auto;
}

.pd__ex .qm-pic-txt li .txt .p-bottom,
.pd__ex .qm-pic-txt li .txt .p-bottom-inline{
    position:relative;
}

.pd__ex .qm-pic-txt.pic-110-146 li .txt,
.pd__ex .qm-pic-txt.pic-110-146-classify li .txt,
.pd__ex .qm-pic-txt.pic-110-146-single li .txt{
    height:auto;
}

.pd__ex .qm-mod-th .tit,
.pd__ex .qm-mod-th-m .tit,
.pd__ex .qm-mod-th-s .tit{
    font-size:18px;
}

.pd__ex .qm-mod-th,
.pd__ex .qm-mod-th-m,
.pd__ex .qm-mod-th-s{
    height: 48px;
    line-height:48px;
    position:sticky;
    top:0;
    display:flex;
}

.pd__ex .qm-txt.txt-260 li{
    width:100%;
    margin-bottom: 8px;
}

.pd__ex .qm-txt li{
    padding:0;
}

.pd__ex .col-b{
    width: 100%;
    margin-bottom: 5px;
}

.pd__ex .qm-rank li{
    display:flex;
    padding: 0!important;
    margin-bottom:10px;

}

.pd__ex .qm-rank li .pic{
    display: block;
    margin-right: 10px;
}

.pd__ex .qm-rank li .txt{
    width:auto;
    flex:1;
    height:auto;
}

.pd__ex .qm-rank li .txt span.s-des{
    padding:0;
}

.pd__ex .wrapper .main{
    padding: 0 15px;
}


.pd__ex .qm-pic{
    height: auto;
}

.pd__ex .qm-pic.pic-131-174 li{
    display:inline-block;
    width:31%;
    margin:0 0.5% 5px;
}

.pd__ex .qm-pic.pic-131-174 li .pic{
    aspect-ratio: 3 / 4;
    height:auto;
}

.pd__ex .swiper-reader .swiper-content{
    width: 100%;
    display: flex;
    height:auto;
}

.pd__ex .swiper-reader .swiper-content a{
    aspect-ratio: 3 / 4;
    height:auto;
    margin: 0 0.5%;
}

.pd__ex .swiper-reader .swiper-content a,
.pd__ex .swiper-reader .swiper-content img{
    left: unset!important;
    top: unset!important;
    position: relative!important;
    opacity: 1!important;
    
}

.pd__ex .swiper-reader .txt{
    display:inline-block!important;
    width: 31%!important;
    margin: 0 0.5%;
}

.pd__ex .swiper-reader .txt span.s-tit{
    height: auto;
    padding: 0;
    font-size: 14px;
}

.pd__ex .swiper-reader .txt span{
    height: auto;
    padding: 0;
}

.qm-btn{
    font-size:12px!important;
    padding: 0!important;
    width: 100%!important;
}

.pd__ex  .qm-pic-txt.pic-110-146-single.height-146{
    height: auto;
}

.pd__ex  .qm-pic-txt.pic-110-146-single.height-146 li{
    display: flex;
    width: 100%;
}

.pd__ex .qm-pic-txt.pic-110-146-single li .pic{
    aspect-ratio: 3 / 4;
    height:auto;
    margin-right: 15px;
    width: 150px;
    box-shadow: none;
}

.pd__ex .qm-pic-txt.pic-110-146-single li .txt span.s-des{
    height: auto;
}

.pd__ex .qm-txt li span.s-des,
.pd__ex .qm-txt li .p-other{
    height: auto;
}

.pd__ex .pt24,
.pd__ex .wrapper.padding-top{
    padding-top:0;
}

.pd__ex .qm-pic.pic-110-146 li{
    display:inline-block;
    width: 31%;
    margin: 0 0.5%;
}
.pd__ex .qm-pic.pic-110-146.height-418{
    height: auto;
}

.pd__ex .qm-table-list li{
    height: 28px;
    line-height: 28px;
}

.pd__ex .manito-writers li{
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.pd__ex .manito-writers li .pic{
    margin-right: 15px;
}

.pd__ex .manito-writers li .txt span.s-works{
    display: flex;
}

.pd__ex .qm-rank li .txt span.s-important{
    padding: 0;
}

.pd__ex .friend-links{
    padding: 10px 15px;
    display: flex;
}

.qm-right-fixed{
    display:none!important;
}



.pd__ex .footer{
    padding: 0 15px;
}

.pd__ex  .footer .p-copyright{
    line-height: 1.2;
    display:block;
    overflow: hidden;
}

.pd__ex .footer .p-link a{
    margin: 0 5px;
}

.pd__ex .footer .p-link i{
    display:none;
}

.pd__ex .footer .p-copyright img{
    width: 20px!important;
    height: 20px!important;
    padding: 0!important;

}

.pd__ex .footer .p-company img{
    width: 110px!important;
    height: 40px!important;
    padding: 0!important;
}

.footer .p-copyright a{
    display: block;
}
