:root{
    --puddingdark-mainfont-color: rgba(255,255,255,0.87);
    --puddingdark-secondfont-color: rgba(255,255,255,0.6);
    --puddingdark-border-color: rgba(255,255,255,0.08);
    --puddingdark-main-bgcolor: #121212;
    --puddingdark-03dp-bgcolor: rgba(255,255,255,0.08);
    --puddingdark-06dp-bgcolor : rgba(255,255,255,0.11);
    --puddingdark-blue-color: rgb(10,132,255);
    --color-dark-orange: rgb(255, 159, 10);
}





.pd__ex .__pudding_block{
    position:absolute;
    right: 0;
    bottom: 0px;
    width: 32px;
    height: 32px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:50%;
/*    background-color: rgba(255,255,255,0.4);*/
    border-bottom-left-radius: 5px;
    z-index:10;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAWqADAAQAAAABAAAAWgAAAABJfIu3AAAGG0lEQVR4Ae2byW4kRRCGbbe3Lg8nxAMYydjyeuPIgWGAkbyCeBNuiAviBOJFkLCxL2jYNANcAMnGu80zcBvbLa/N/5UqSj01MHbTnVWJFCmVsjqrKjPiq6jIyKV7ejw5ASfgBJyAE3ACTsAJOAEn4AScgBNwAk7ACTgBJ+AEnIATcAJOwAk4ASfgBJyAE3ACTsAJxEigN7RQzWaztrOz88nV1dVEf3//Z3Nzc7+GbvMu9W9ubr4yPDw8J/l+mpqaurjLM53cExz01tbWpxcXFx/19vb26GgMDQ29Pzs7+00nQnf6rF78w0aj8aXquVer1f6s1+szoWH3dSr0bc/39fWNZ5C5tX5+fv7V9vb2u7c9F+q6LPkhMkime8h1c3PzmvI3QrVn9QYHLXfxuRRpoJSgc9QvLy9Xq4BNmwIL5DqyIJOOE1n1HwYkVB4ctD7J3/RprkihFDbKAfv6+np1b2/vnVCKFeulLfUTq7RtkJU3BgcHPxgfH/+reH+3fwf30SawKSqLSqxM0M8GBgbem56efmRlIXLalrtYA7I6v7SJsto2fUoDTYO7u7tvC/SalE1hZ0oHhQ1kXJWaT9vki1I6k7tYmZmZ+ZYfZaRSQaPQwcHBAyn+tU4Tsy7lQWDbV8SLBbBBlmWXChm9SwdNo7LsB1I+h50BP1PH2TU3YpDVXA6ZFyrIy7Lk75CjzFQJaBSUZb+lzmldp6lldxP2P0HGJ8tdLE1OTn5fJmBrqzLQCABsRR85bPlvijuy7CJkWXBaZ5WQEaBS0AhgsGXRaWfVCexWyAA2n6wQblEh3A+0V1UKHkffphifMtbGp829mQUmxLyAu+15u16EnJWfxQAZWSq3aANVtGx8Np3XXcIwg6yXlXZ8qWJ6cbFARp7KLdpAFy07++wT4m6iFLuvmAOZUabKo4WMzNFYtAE0ywZcZtVm2c+FZQyABHnNLDl7OVFZsukVHWgEAzahn/x1DlvF+PAlTbGm4VlrLA5gDln/maZhK+/40KGYogSNkMAWOAY1I1g2STBPNahZVHkf11Q+kpWTpdcmJiZ+5EdsKVrQgDo+Pr5PnA3QzC2ksLlmkHkJvABZ/2KskJE3atAIuL+/f18gcSOp9VLWmgT6RNa9pOnYKC3ZZI0eNIIeHR29KdgbOs0tG0tWOtELWBgbG3vMj5hTf8zCmWzyy01ZbdPcB+WcZ27jf2Es0Qtp1ozraAUNbEDrBZwqj9o/I2s0AxaEKSY6Q0HcEOBW//xU953Yvdm1De61shjzaEFn4d16EbLAL2hYPq/8Gdiy7HWeiREyMkUJmsGIwOVxsqDiJk6ArI7vyejo6BP57XnJT1nqQpSP8MyLhutVvoToQDOsFrR0oNIC5lSLuPNAtjJg63xBx6mVAZtnqcPKYsmjAp1NEK0JTj70prNTRzifgX2GG2GdwDJSpEO0awnzH9RlBTHk0YC2WTj55HyNT+dpRPGiOJnRoCAzn32qIw37qIMZvZhgRxHeAYSJflleIuu1yf+25i6IOrS6zrIYvpqwD0PuaFmMCrqVKgdtkLFCs0hZKFOdC+3OXQBbG2UIB3PXQ13dXF3/r+ArdR0GWcLnk/Y6T6c624UMANYFBXWJOvjNi1Nqe1mMh7qdKrPoVsi4C5LAdGXSnng6m/XreMG3W8ArAR0SsoGJDXbprqMVsvnkblmyQSb/tzXIdlfXW+vs5LxU0EC2DYdAzlxGuoMoxL6LVti0RZtKlfjs0kAbZCmbRxdSOvg2LYNNW4DmUCSS8MKRCfJlpFJAG2QpVNw6W8peOIMtyCns7EtK2DNdFuzgnaGWol6XQo8FOd9pj8KEYQAow5qsDTrIbFDDfhErfpokyauhd/0Ht2h1Ph8C2bRSjlUtlw2Z9mlT1rycyZDO+gn4S5JxjushU3DQgnpkCmDJmoV7biOMXS8jZ2+0YK+oLRYQevRlId/PnIdMwV2HOp6a/ODHspwJTdh/of+r/B5SobvWfXh4+LJkwpJ/Cf0fw7vK5Pc5ASfgBJyAE3ACTsAJOAEn4AScgBNwAk7ACTgBJ+AEnIATcAJOwAk4ASfgBJyAE3ACTsAJlE/gb779bikynLsbAAAAAElFTkSuQmCC);
}


.pudding_block_Modal{
    position:fixed;
    width: 100%;
    height: 100%;

    top:0;
    left:0;
        
    z-index: 99999;
    display:flex;
    justify-content : center;
    align-items: center;
    font-size: 12px;
        
}

.pudding_block_Modal .pudding_block_inner{
    background:#fefefe;
    width: 200px;
    height: auto;
    border-radius: 10px;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    
    display:flex;
    flex-direction : column;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.pudding_block_inner label{
    display: block;
    margin: 2px 0 5px;
    display: flex;
    align-items: center;
}

.pudding_block_inner label span{
    margin-right: 5px;
}


.pudding_block_inner input[type="text"]{
    flex:1;
    padding: 3px;
    box-sizing:border-box;
    box-shadow: 0 0 1px rgba(0,0,0,0.3) inset;
    width:120px;
}

.pudding_block_inner input[type="checkbox"]{
    margin-right: 5px;
    appearance : checkbox;
}

.pudding_block_inner .buttons{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 32px;
    appearance : button;

}

.pudding_block_inner em{
    font-size:10px;
    margin-top: 10px;
    margin-bottom: 2px;
}


.pudding_block_inner .buttons button{
    display: block;
    flex:1;
    background: transparent;
}

.pudding_block_inner  h3{
    margin-bottom: 15px;
}


@media (prefers-color-scheme: dark)  {
    .pudding_block_Modal .pudding_block_inner{
        background: var(--puddingdark-main-bgcolor);
        border:1px solid #888;
    }
    
    .pudding_block_inner em{
        color: var(--puddingdark-secondfont-color);
    }
    
    .pudding_block_inner input[type="text"],
    .pudding_block_inner input[type="checkbox"]{
        background: var(--puddingdark-03dp-bgcolor);
        color: var(--puddingdark-mainfont-color);
    }
    
    .pudding_block_inner .buttons button{
        color:#fff;
    }

}

.pd__ex .cell{
    position:relative;
}



ins > div,
ins > div > iframe{
    max-width:100%;
}
body #Top{
    border-bottom:none;
}


/*pc站*/
/*小于820的时候*/
@media (max-width: 820px){
    body.pd__ex{
        min-width:unset;
        width: 100%;
    }
    
    body .content{
        min-width:unset;
        width:100%;
    }
    
    body #Main{
        margin: 10px;
    }
    body #Rightbar{
        display:none;
    }

}


/*添加暗黑模式*/
@media (prefers-color-scheme: dark) {
    html,body{
        background:#121212!important;
        color:rgba(255,255,255,0.87)!important;
    }
    
    #site-header{
        background:#121212!important;
    }
    
    #LogoMobile,
    .site-nav #Logo{
        filter: brightness(0) invert(1);
    }
    
    #Wrapper{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .box{
        background:#121212!important;
        color:rgba(255,255,255,0.87)!important;
    }
    
    a.balance_area:active,
    a.balance_area:link,
    a.balance_area:visited,
    a.balance_area:hover{
        background:rgba(255,255,255,0.08)!important;
    }
    
    a.tab:active, a.tab:link, a.tab:visited{
        color:rgba(255,255,255,0.6)!important;
    }
    
    a.tab:hover{
        background:rgba(255,255,255,0.08)!important;
    }
    
    a:active, a:link, a:visited{
        color:rgba(255,255,255,0.87)!important;
    }
    a:hover{
        color:rgba(255,255,255,0.6)!important;
    }
    
    a.node:active, a.node:link, a.node:visited,a.node:hover{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .cell{
        border-color:rgba(255,255,255,0.08)!important;
    }
    
   a.count_blue:visited ,a.count_blue:hover,a.count_blue:link,
   a.count_green:visited,a.count_green:hover,a.count_green:link,
   a.count_livid:visited,a.count_livid:hover,a.count_livid:link,
   a.count_orange:visited,a.count_orange:hover,a.count_orange:link{
        background-color:rgba(255,255,255,0.08)!important;
    }
   
/*  详情页 */

    .header,h2,.box,hr{
        border-color:rgba(255,255,255,0.08)!important;
    }
    
    hr{
        background-color:rgba(255,255,255,0.08)!important;
    }
    
    .topic_content{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .tag:hover,.tag:visited,.tag:link{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .page_current{
        background:rgba(255,255,255,0.08)!important;
        color:rgba(255,255,255,0.87)!important;
    }
    
    .page_normal:active, .page_normal:link, .page_normal:visited{
        background:rgba(255,255,255,0.08)!important;
        color:rgba(255,255,255,0.87)!important;
    }
    
    .reply_content{
        color:rgba(255,255,255,0.87)!important;
    }
    
    .no{
        background:rgba(255,255,255,0.08)!important;
        color:rgba(255,255,255,0.87)!important;
    }
    
    
    #Bottom{
        background:rgba(255,255,255,0.08)!important;
        color:rgba(255,255,255,0.87)!important;
    }
    
    
    .wwads-cn{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .social_label:visited,
    .social_label:active,
    .social_label:link,
    .social_label:hover{
        background:rgba(255,255,255,0.08)!important;
    }
    
    
    .dock_area{
        background:rgba(255,255,255,0.05)!important;
    }
    
    
    a.op:visited, button.op:visited,
    a.op:active, button.op:active,
    a.op:link, button.op:link,
    a.op:hover, button.op:hover{
        background:rgba(255,255,255,0.08)!important;
    }
    
    .subtle{
        background:rgba(255,255,255,0.08)!important;
        border-color:rgba(255,255,255,0.11)!important;
    }
    
    .header-transparent{
        background:rgba(255,255,255,0.05)!important;
    }
    
    .cell-translucent{
        background:rgba(255,255,255,0.08)!important;
    }
    
    textarea,
    #search-container{
        background:rgba(255,255,255,0.08)!important;
        color:rgba(255,255,255,0.6)!important;
    }
    
    .normal.button,
    .normal.button:hover:enabled{
        background:rgba(255,255,255,0.08)!important;
        color:rgba(255,255,255,0.6)!important;
        text-shadow:none!important;
    }
    
    .pd__ex .cell_ops{
        background:#121212;
    }
    
    .pd__ex .payload{
        background:rgba(255,255,255,0.08);
    }
    
    .pd__ex  pre{
        background:rgba(255,255,255,0.08);
    }
    
    .pd__ex .sidebar_compliance{
        background:rgba(255,255,255,0.08);
    }
    
    body  #search-container,
    body .box > div{
        border-color:rgba(255,255,255,0.11)!important;
    }

    /*  main bg color  */
    body #Top,
    body #Tabs{
        background:var(--puddingdark-main-bgcolor);
    }
    
    /*  color   */
    body #SecondaryTabs,
    body .topic_buttons{
        background:#151515;
    }
    
    /*border-color */
    body #no-comments-yet,
    body .item_node{
        border-color:var(--puddingdark-03dp-bgcolor);
    }
    
    body #no-comments-yet{
        color:var(--puddingdark-secondfont-color);
    }
    
    body .member-activity-bar{
        background:var(--puddingdark-03dp-bgcolor);

    }
    
    body a.tb:active,
    body a.tb:link,
    body a.tb:visited,
    body .topic_stats,
    body .balance_area,
    body a.balance_area:link,
    body a.balance_area:visited,
    body .item_hot_topic_title{
        text-shadow:none;
    }
    
    
}
