
/*小红书discovery*/
/*隐藏头部app*/
.normal-launch-app-container{
    display:none!important;
}

/*展开隐藏内容*/
main.content{
    height:auto!important;
}

.check-more{
    display:none!important;
}

.bottom-bar{
    position:relative!important;
    transform: none!important;
    left:unset!important;
    bottom:unset!important;
    margin: 0 auto;
}
