:root{
    --puddingdark-mainfont-color: rgba(255,255,255,0.87);
    --puddingdark-secondfont-color: rgba(255,255,255,0.6);
    --puddingdark-border-color: rgba(255,255,255,0.08);
    --puddingdark-main-bgcolor: #121212;
    --puddingdark-03dp-bgcolor: rgba(255,255,255,0.08);
    --puddingdark-blue-color: rgb(10,132,255);
}



/**知乎详情页**/
/*去掉打开时的遮罩层*/


.ModalWrap{
    display:none!important;
}

body,body.ModalWrap-body{
    overflow:auto!important;
}

/*MBannerAd*/
.MBannerAd{
    display:none!important;
}

/*更多回答被强制使用app打开*/
.RichContent-inner,.RichContent-inner--collapsed{
    max-height:unset!important;
    -webkit-mask-image:none!important;
}

.ContentItem-expandButton{
    display:none!important;
}

/*去掉热门推荐*/
.HotQuestions{
    display:none!important;
}

/*去掉相关推荐中的广告*/
.MRelateFeedAd{display:none!important;}

/*去掉app内打开的按钮*/
.OpenInAppButton{
    display:none!important;
}

/*在dark下隐藏亮色的*/
/*@media (prefers-color-scheme: dark) {*/
/*    html[data-theme="light"]{*/
/*        display:none;*/
/*        background:#121212;*/
/*    }*/
/*}*/

/*baidu跳转过来的广告*/

html .Baidu-header{
    display: none;
}

html .Baidu-ad{
    display:none;
}


@media (prefers-color-scheme: dark) {
    
    html img{
        filter: brightness(0.8);
    }
    
    html body,
    html .ContentItem-title,
    html .QuestionHeader-title,
    html .AuthorInfo-name,
    html .QuestionHeader-title,
    html .css-prp5c,
    html .css-vjs2sl,
    html .VideoAnswerPlayer-stateBar,
    html  .VideoAnswerPlayer-state--title{
        color: var(--puddingdark-mainfont-color);
    }
    
    html .ContentItem .RichContent-inner,
    html  .Body--Mobile .RichContent.is-collapsed .RichContent-inner,
    html .MobileAppHeader-searchBox,
    html  .VideoAnswerPlayer-state--data{
        color: var(--puddingdark-secondfont-color);
    }
    
    
    html .Body--Mobile .RichContent-inner--collapsed .ContentItem-more,
    html .Body--Mobile .RichContent.is-collapsed .RichContent-inner .ContentItem-more,
    html .MobileAppHeader-searchBox{
        background: none;
    }
    
    
    html .Body--Mobile .RichContent-inner--collapsed .ContentItem-more:before,
    html .Body--Mobile .RichContent.is-collapsed .RichContent-inner .ContentItem-more:before{
        display:none;
    }
    
    
    html .Post-content-mobile .RichContent-actions.is-fixed,
    html .RichContent-actions{
        background: #222;
    }
    
    
    html,
    html .Body--Mobile,
    html .App,
    html .MobileAppHeader,
    html .NotLoggedInTopstoryItem,
    html .MobileAppHeader+.Sticky--holder,
    html .Card{
        background: var(--puddingdark-main-bgcolor);
    }
    
    
    html .VideoAnswerPlayer-stateBar{
        background: var(--puddingdark-03dp-bgcolor);
    }
    
    
    html .NotLoggedInTopstoryItem .ContentItem-more,
    html .ContentItem-more{
        color:var(--puddingdark-blue-color);
    }
    
    html .ContentItem-actions{
        background:none;
    }
    
    html .List-item+.List-item:after,
    html  .Input-wrapper,
    html  .List-header,
    html .css-1i5ys3k hr,
    html .Body--Mobile .Card-header:after,
    html  .BlockTitle{
        border-color: var(--puddingdark-03dp-bgcolor);
    }
    
    html .VoteButton,
    html .Button--link:hover,
    html .Button--plain:hover{
        background: rgba(18,18,18,0.8)!important;
    }
    
    /* 知乎专栏 */
    html .Post-content,
    html .KfeCollection-VipRecommendCard{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html .Post-Author .AuthorInfo-name,
    html .FeeConsultCard>div:first-of-type>div:first-child,
    html .css-1i5ys3k .LinkCard.new .LinkCard-title,
    html .CPSCommonCard-title,
    html .KfeCollection-VipRecommendCard-title,
    html .css-n51fzv,
    html .BlockTitle,
    html .Column-ColumnItem .ContentItem-title,
    html .MobilePostItem-Title{
        color: var(--puddingdark-mainfont-color);
    }
    
    html .Post-Author .AuthorInfo-detail,
    html .AuthorInfo-badgeText,
    html .FeeConsultCard-times, html[data-theme=dark] .FeeConsultCard-times,
    html .css-1i5ys3k .LinkCard.new .LinkCard-desc,
    html .CPSCommonCard-subtitle-text,
    html .KfeCollection-VipRecommendCard-content{
        color: var(--puddingdark-secondfont-color);
    }
    
    
    html .FeeConsultCard,
    html .css-1i5ys3k .LinkCard.new,
    html  .css-1i5ys3k pre,
    html .GoodsRecommendCard{
        background-color: var(--puddingdark-03dp-bgcolor);
    }
    
    html .Post-Author-Mobile,
    html .KfeCollection-VipRecommendCard-article,
    html  .MobilePostItem{
        border-color: var(--puddingdark-03dp-bgcolor);
    }
    
    
    
    
    /*登陆界面*/
    html .Login,
    html input.Input,
    html .SignFlowInput-errorMask,
    html .Input-wrapper.is-focus,
    html .Input-wrapper{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html input.Input,
    html .Login .Input-wrapper,
    html .Button--plain:hover,
    html html[data-theme=dark] .Button--plain:hover{
        color: var(--puddingdark-secondfont-color);
    }
    
    html .Login-footer .Button,
    html .Login-footer a,
    html .Login-signinTypes .Button,
    html .Login-signinTypes a{
        color:var(--puddingdark-blue-color);
    }
    

    /*个人主页*/
    
    html .ProfileBar{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html .Tabs-link{
        color: var(--puddingdark-mainfont-color);
    }
    
    html .Profile-headline{
        color: var(--puddingdark-secondfont-color);
    }
    
    /*写问答*/
    
    html .css-ud510h{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html .css-b574el,
    html .zed-HeaderBlot,
    html  .css-1jg6wq6{
        color: var(--puddingdark-mainfont-color);
    }
    
    html svg,
    html path{
/*        stroke: var(--puddingdark-secondfont-color);*/
    }
    
    html  .MobileModal{
        background-color: #222;
        box-shadow:none;
    }
    
    
    html .css-1gfesro{
        background: #222;
    }

}
