:root{
    --puddingdark-mainfont-color: rgba(255,255,255,0.87);
    --puddingdark-secondfont-color: rgba(255,255,255,0.6);
    --puddingdark-border-color: rgba(255,255,255,0.08);
    --puddingdark-main-bgcolor: #121212;
    --puddingdark-03dp-bgcolor: rgba(255,255,255,0.08);
    --puddingdark-blue-color: rgb(10,132,255);
}



/**知乎详情页**/
/*去掉打开时的遮罩层*/


.ModalWrap{
    display:none!important;
}

body,body.ModalWrap-body{
    overflow:auto!important;
}

/*MBannerAd*/
.MBannerAd{
    display:none!important;
}

/*更多回答被强制使用app打开*/
.RichContent-inner,.RichContent-inner--collapsed{
    max-height:unset!important;
    -webkit-mask-image:none!important;
}

.ContentItem-expandButton{
    display:none!important;
}

/*去掉热门推荐*/
.HotQuestions{
    display:none!important;
}

/*去掉相关推荐中的广告*/
.MRelateFeedAd{display:none!important;}

/*去掉app内打开的按钮*/
.OpenInAppButton{
    display:none!important;
}

/*在dark下隐藏亮色的*/
/*@media (prefers-color-scheme: dark) {*/
/*    html[data-theme="light"]{*/
/*        display:none;*/
/*        background:#121212;*/
/*    }*/
/*}*/

/*baidu跳转过来的广告*/

html .Baidu-header{
    display: none;
}

html .Baidu-ad{
    display:none;
}


@media (prefers-color-scheme: dark) {
    
    html img{
        filter: brightness(0.8);
    }
    
    html body,
    html .ContentItem-title,
    html .QuestionHeader-title,
    html .AuthorInfo-name,
    html .QuestionHeader-title,
    html .css-prp5c,
    html .css-vjs2sl,
    html .VideoAnswerPlayer-stateBar,
    html .VideoAnswerPlayer-state--title,
    html .MobileSearch-container .Tabs-link.is-active,
    html .HotLanding-ListTitle,
    html .css-pmb8al{
        color: var(--puddingdark-mainfont-color);
    }
    
    
    html  .Body--Mobile .RichContent.is-collapsed .RichContent-inner,
    html .MobileAppHeader-searchBox,
    html  .VideoAnswerPlayer-state--data,
    html  .MobileSearch-container .SearchItem-type,
    html .MobileSearch-container .SearchItem-type,
    html .MobileSearch-container .SearchItem-meta,
    html .SpecialItem-titleLabel,
    html .css-2zro6g,
    html .Column-ColumnItem .ContentItem-meta,
    html .RichContent.is-collapsed .RichContent-inner:hover{
        color: var(--puddingdark-secondfont-color);
    }
    
    
    html .Body--Mobile .RichContent-inner--collapsed .ContentItem-more,
    html .Body--Mobile .RichContent.is-collapsed .RichContent-inner .ContentItem-more,
    html .MobileAppHeader-searchBox{
        background: none;
    }
    
    
    html .Body--Mobile .RichContent-inner--collapsed .ContentItem-more:before,
    html .Body--Mobile .RichContent.is-collapsed .RichContent-inner .ContentItem-more:before{
        display:none;
    }
    
    
    html .Post-content-mobile .RichContent-actions.is-fixed,
    html .RichContent-actions{
        background: #222;
    }
    
    
    html,
    html .Body--Mobile,
    html .App,
    html .MobileAppHeader,
    html .NotLoggedInTopstoryItem,
    html .MobileAppHeader+.Sticky--holder{
        background: var(--puddingdark-main-bgcolor);
    }
    
    
    html .VideoAnswerPlayer-stateBar,
    html .SearchTabs,
    html  .MobileSearch-container .SearchItem-type,
    html .SpecialItem-titleLabel,
    html .css-entir{
        background: var(--puddingdark-03dp-bgcolor);
    }
    
    
    html .Card{
        background:#141414;
    }
    
    
    html .NotLoggedInTopstoryItem .ContentItem-more,
    html .ContentItem-more{
        color:var(--puddingdark-blue-color);
    }
    
    html .ContentItem-actions{
        background:none;
    }
    
    html .List-item+.List-item:after,
    html .Input-wrapper,
    html .List-header,
    html .css-1i5ys3k hr,
    html .Body--Mobile .Card-header:after,
    html .BlockTitle,
    html .HotLanding-content,
    html .HotLanding-contentItem{
        border-color: var(--puddingdark-03dp-bgcolor)!important;
    }
    
    html .VoteButton,
    html .Button--link:hover,
    html .Button--plain:hover{
        background: rgba(18,18,18,0.8)!important;
    }
    
    html .css-fc9p1q,
    html .css-3rj67r{
        background: none;
    }
    
    html  .ViewAll--bottom:before{
        border-color: var(--puddingdark-03dp-bgcolor);
    }
    

    
    
    /* 知乎专栏 */
    html .Post-content,
    html .KfeCollection-VipRecommendCard,
    html .PostIndex-body.Body--Mobile{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html .Post-Author .AuthorInfo-name,
    html .FeeConsultCard>div:first-of-type>div:first-child,
    html .css-1i5ys3k .LinkCard.new .LinkCard-title,
    html .CPSCommonCard-title,
    html .KfeCollection-VipRecommendCard-title,
    html .css-n51fzv,
    html .BlockTitle,
    html .Column-ColumnItem .ContentItem-title,
    html .MobilePostItem-Title,
    html .css-i6a6te{
        color: var(--puddingdark-mainfont-color);
    }
    
    html .Post-Author .AuthorInfo-detail,
    html .AuthorInfo-badgeText,
    html .FeeConsultCard-times, html[data-theme=dark] .FeeConsultCard-times,
    html .css-1i5ys3k .LinkCard.new .LinkCard-desc,
    html .CPSCommonCard-subtitle-text,
    html .KfeCollection-VipRecommendCard-content,
    html  .css-1d6gsgn,
    html .css-n5kl24 blockquote,
    html .ztext blockquote{
        color: var(--puddingdark-secondfont-color);
    }
    
    
    html .FeeConsultCard,
    html .css-1i5ys3k .LinkCard.new,
    html  .css-1i5ys3k pre,
    html .GoodsRecommendCard,
    html .App-pc .RelatedReadings .RelatedReadingsItem{
        background-color: var(--puddingdark-03dp-bgcolor);
    }
    
    html .Post-Author-Mobile,
    html .KfeCollection-VipRecommendCard-article,
    html  .MobilePostItem,
    html .ztext blockquote{
        border-color: var(--puddingdark-03dp-bgcolor);
    }
    
    /* 专栏 iPad 暗黑模式   */
    
    html .css-vpssrj,
    html .css-1rd0h6f,
    html .css-x9dm90,
    html .css-1p9g937,
    html .css-125lt7r,
    html .css-tcdp81,
    html .css-l47gq8,
    html .App-pc .QuestionHeader .QuestionHeader-title,
    html .App-pc .RelatedReadings,
    html .App-pc{
        color: var(--puddingdark-mainfont-color);
    }
    
    html .css-1t9bp9f,
    html .css-117anjg blockquote,
    html .css-zjpd6e,
    html  .css-136eovo,
    html .css-mz8bj,
    html .css-w554vo,
    html .css-9r8d2q,
    html .css-1a3gkhc,
    html .css-1besdh8,
    html .css-g9ynb2,
    html .css-1arze70{
        color: var(--puddingdark-secondfont-color);
    }
    
    html .ColumnPageHeader,
    html .css-805ti0,
    html .RichContent-actions.is-fixed,
    html  .Recommendations-Main,
    html .WhiteBg-body,
    html .css-5k4zcx,
    html .sgui-header{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html .css-x0pxoz,
    html .css-z07uxh,
    html .css-we6n55::before,
    html .css-iin461,
    html .css-1ki0pxd,
    html .css-2ovwuy::before,
    html .App-pc .RelatedReadings .RelatedReadings-title{
        border-color: var(--puddingdark-03dp-bgcolor);
    }
    
    html .css-117anjg pre,
    html .css-hvo7ig,
    html .css-n5kl24 pre{
        background-color: #222;
    }
    
    
    
    /*登陆界面*/
    html .Login,
    html input.Input,
    html .SignFlowInput-errorMask,
    html .Input-wrapper.is-focus,
    html .Input-wrapper{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html input.Input,
    html .Login .Input-wrapper,
    html .Button--plain:hover,
    html html[data-theme=dark] .Button--plain:hover{
        color: var(--puddingdark-secondfont-color);
    }
    
    html .Login-footer .Button,
    html .Login-footer a,
    html .Login-signinTypes .Button,
    html .Login-signinTypes a{
        color:var(--puddingdark-blue-color);
    }
    

    /*个人主页*/
    
    html .ProfileBar{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html .Tabs-link{
        color: var(--puddingdark-mainfont-color);
    }
    
    html .Profile-headline{
        color: var(--puddingdark-secondfont-color);
    }
    
    /*写问答*/
    
    html .css-ud510h{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html .css-b574el,
    html .zed-HeaderBlot,
    html  .css-1jg6wq6{
        color: var(--puddingdark-mainfont-color);
    }
    
    html svg,
    html path{
/*        stroke: var(--puddingdark-secondfont-color);*/
    }
    
    html  .MobileModal{
        background-color: #222;
        box-shadow:none;
    }
    
    
    html .css-1gfesro{
        background: #222;
    }
    
    /*搜索界面*/
    html .MobileSearch-container{
        background: var(--puddingdark-main-bgcolor);
    }

    html .MobileSearch-container,
    html .MobileHotSearch-title,
    html .MobileHotSearch-itemTitle,
    html .MobileHistorySearch-title,
    html  .MobileSuggestSearch-itemWord{
        color: var(--puddingdark-mainfont-color);
    }
    
    html .MobileHotSearch-list{
        border-color:var(--puddingdark-03dp-bgcolor);
    }
    
    html .MobileSuggestSearch-item:after{
        background:var(--puddingdark-03dp-bgcolor);
    }
    
    /* 搜索学术结果 */
    
    html .css-2i2hyg,
    html .css-15omxox,
    html .css-1mxm7k0,
    html .css-vvikez,
    html .css-1sz5gzk{
        background:#141414;
    }
    
    html .css-1sz5gzk{
        border-color:var(--puddingdark-03dp-bgcolor);

    }
    
    
    /*  ipad 版本 详情页*/
    
    /* main bg color   */
    
    
    html body,
    html .Modal-inner,
    html .EQvEDwRqICOvs_x_kUWW,
    html .css-1x8hcdw,
    html  .QuestionHeader,
    html .QuestionHeader-footer{
        background: var(--puddingdark-main-bgcolor);
    }
    
    html  .css-v6yqll,
    html .QZcfWkCJoarhIYxlM_sG.evPjxqnqXpIBzSRrcIDv{
        background:var(--puddingdark-03dp-bgcolor);
    }
    
    html .Card{
        background:var(--puddingdark-03dp-bgcolor)!important;
    }
    
    
    html .MoreAnswers .List-headerText{
        background:#222;
    }
    
    
    html .signQr-container,
    html  .css-1o2gsjy,
    html  .Login-options,
    html input.i7cW1UcwT6ThdhTakqFm{
        background: none;
    }

    
    html .css-k49mnn,
    html .css-qj3urb,
    html .css-x9rxz4,
    html .css-1bdtll5,
    html .css-1iubajs,
    html .css-186oz3i,
    html  .SignFlow-tab--active,
    html .EQvEDwRqICOvs_x_kUWW,
    html  .NumberBoard-itemValue,
    html .AppBanner-title,
    html .AppBanner-description,
    html  .AnswerAuthor-user-name,
    html  .RelatedCommodities-subject{
        color: var(--puddingdark-mainfont-color);
    }
    
    html .SignFlow-tab,
    html .Login-cannotLogin,
    html  .Login-cannotLogin,
    html  .NumberBoard-itemName,
    html   a.QuestionMainAction,
    html .MoreAnswers .List-headerText{
        color: var(--puddingdark-secondfont-color);

    }
    
    html .signQr-rightContainer,
    html  .SignFlow-account,
    html  .Login-content .SignFlow-smsInputContainer,
    html .NumberBoard--divider .NumberBoard-item+.NumberBoard-item .NumberBoard-itemInner,
    html .Card-header,
    html .Card-section+.Card-section:after,
    html  .RelatedCommodities-item:not(:first-child):before,
    html .MoreAnswers .List-header:after{
        border-color:var(--puddingdark-03dp-bgcolor);
    }
    
    
}
