:root {
    color-scheme: light dark;
}

body {
    width: 100%;
    padding: 10px;
    font-family: system-ui;
    font-size:12px;
    
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
